Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(compiler/tailwind): implement manifest and inline source pipeline
  packages/compiler/src/tailwind/__tests__/manifest.test.ts
  packages/compiler/src/tailwind/__tests__/source_inline.test.ts
  packages/compiler/src/tailwind/manifest.ts
  packages/compiler/src/tailwind/source_inline.ts
Due: prettier --write, eslint --fix

feat(compiler/transform): add source transformation and substitution passes
  packages/compiler/src/transform/__tests__/import_cleanup.test.ts
  packages/compiler/src/transform/__tests__/source_map.test.ts
  packages/compiler/src/transform/__tests__/substitutor.test.ts
  packages/compiler/src/transform/import_cleanup.ts
  packages/compiler/src/transform/replacement.ts
  packages/compiler/src/transform/source_map.ts
  packages/compiler/src/transform/substitutor.ts
Due: prettier --write, eslint --fix

feat(compiler/vite): add Vite plugin integration and HMR cache context
  packages/compiler/src/vite/__tests__/vite_plugin.test.ts
  packages/compiler/src/vite/cache.ts
  packages/compiler/src/vite/context.ts
  packages/compiler/src/vite/hmr.ts
  packages/compiler/src/vite/index.ts
Due: prettier --write, eslint --fix

chore(compiler): wire exports and build/test configs
  packages/compiler/src/index.ts
  packages/compiler/tsup.config.ts
  packages/compiler/vitest.config.ts
Due: prettier --write, eslint --fix

chore(compiler): update package exports scripts and dependency lockfile
  packages/compiler/package.json
  pnpm-lock.yaml
Due: prettier --write

test(compiler): add vite-tailwind-v4 e2e fixture and test
  packages/compiler/e2e/vite-tailwind-v4/.gitignore
  packages/compiler/e2e/vite-tailwind-v4/index.html
  packages/compiler/e2e/vite-tailwind-v4/src/bootstrap.ts
  packages/compiler/e2e/vite-tailwind-v4/src/main.ts
  packages/compiler/e2e/vite-tailwind-v4/src/runtime-tailwindest.ts
  packages/compiler/e2e/vite-tailwind-v4/src/style.css
  packages/compiler/e2e/vite-tailwind-v4/vite-tailwind-v4.test.ts
  packages/compiler/e2e/vite-tailwind-v4/vite.config.ts
Due: prettier --write, eslint --fix

feat(compiler): add API compile pipeline with optimizer and debug diagnostics
  packages/compiler/src/core/__tests__/api_compile.test.ts
  packages/compiler/src/core/__tests__/variant_optimizer.test.ts
  packages/compiler/src/core/__tests__/zero_runtime_codegen.test.ts
  packages/compiler/src/core/api_compile.ts
  packages/compiler/src/core/codegen.ts
  packages/compiler/src/core/diagnostic_types.ts
  packages/compiler/src/core/styler_model.ts
  packages/compiler/src/core/variant_optimizer.ts
  packages/compiler/src/debug/__tests__/debug_manifest.test.ts
  packages/compiler/src/debug/__tests__/diagnostics.test.ts
  packages/compiler/src/debug/debug_manifest.ts
  packages/compiler/src/debug/diagnostics.ts
  packages/compiler/src/debug/reporting.ts
  packages/compiler/src/index.ts
Due: prettier --write, eslint --fix

fix(compiler/transform): remove unused createTools variable and import cleanup
  packages/compiler/src/transform/import_cleanup.ts
Due: prettier --write, eslint --fix

feat(compiler/vite): add debug manifest, diagnostics, and source-map transform flow
  packages/compiler/src/vite/__tests__/vite_plugin.test.ts
  packages/compiler/src/vite/compile_transform.ts
  packages/compiler/src/vite/context.ts
  packages/compiler/src/vite/index.ts
Due: prettier --write, eslint --fix

test(compiler): refresh vite-tailwind-v4 e2e fixture for debug/source-map pipeline
  packages/compiler/e2e/vite-tailwind-v4/.gitignore
  packages/compiler/e2e/vite-tailwind-v4/src/compiled-entry.ts
  packages/compiler/e2e/vite-tailwind-v4/src/main.ts
  packages/compiler/e2e/vite-tailwind-v4/src/runtime-tailwindest.ts
  packages/compiler/e2e/vite-tailwind-v4/vite-tailwind-v4.test.ts
  packages/compiler/e2e/vite-tailwind-v4/vite.config.ts
Due: prettier --write, eslint --fix

chore(compiler): add compiler e2e and monorepo path configuration
  packages/compiler/package.json
  tsconfig.json
Due: prettier --write

test(css-transformer): update mixed patterns fixture output spacing
  packages/css-transformer/tests/fixtures/mixed_patterns/expected.tsx
Due: none

docs(compiler): collapse critic/planes plan docs into architecture note
  packages/compiler/docs/ARCHITECTURE.md
  packages/compiler/docs/plans/critic_0_gate_matrix.md
  packages/compiler/docs/plans/critic_1_evaluation.md
  packages/compiler/docs/plans/critic_2_detector.md
  packages/compiler/docs/plans/critic_3_substitutor.md
  packages/compiler/docs/plans/critic_4_vite.md
  packages/compiler/docs/plans/critic_5_optimizer.md
  packages/compiler/docs/plans/critic_6_debug_e2e.md
  packages/compiler/docs/plans/planes_0_cycle_overview.md
  packages/compiler/docs/plans/planes_1_evaluation.md
  packages/compiler/docs/plans/planes_2_detector.md
  packages/compiler/docs/plans/planes_3_substitutor.md
  packages/compiler/docs/plans/planes_4_vite.md
  packages/compiler/docs/plans/planes_5_optimizer.md
  packages/compiler/docs/plans/planes_6_debug_e2e.md
Due: prettier --write

feat(compiler/analyzer): improve tool provenance and TS file kind handling
  packages/compiler/src/analyzer/detector.ts
  packages/compiler/src/analyzer/symbols.ts
Due: prettier --write, eslint --fix

feat(compiler/core): add public compile API, richer diagnostics, and variant exclusion debug model
  packages/compiler/src/core/__tests__/api_compile.test.ts
  packages/compiler/src/core/__tests__/evaluator.test.ts
  packages/compiler/src/core/api_compile.ts
  packages/compiler/src/core/codegen.ts
  packages/compiler/src/core/diagnostic_types.ts
  packages/compiler/src/core/evaluator.ts
  packages/compiler/src/core/merger.ts
  packages/compiler/src/core/static_value.ts
  packages/compiler/src/core/style_normalizer.ts
  packages/compiler/src/debug/__tests__/debug_manifest.test.ts
  packages/compiler/src/debug/debug_manifest.ts
  packages/compiler/src/debug/diagnostics.ts
  packages/compiler/src/index.ts
Due: prettier --write, eslint --fix

feat(compiler/tailwind): support candidate exclusions and tailwind package entry injection
  packages/compiler/src/tailwind/__tests__/manifest.test.ts
  packages/compiler/src/tailwind/__tests__/source_inline.test.ts
  packages/compiler/src/tailwind/manifest.ts
  packages/compiler/src/tailwind/source_inline.ts
Due: prettier --write, eslint --fix

refactor(compiler/transform): expose structured Vite source-map type
  packages/compiler/src/transform/replacement.ts
Due: prettier --write, eslint --fix

feat(compiler/vite): add exclusions, strict-analysis diagnostics, and debug/scan options
  packages/compiler/src/vite/__tests__/vite_plugin.test.ts
  packages/compiler/src/vite/context.ts
  packages/compiler/src/vite/index.ts
Due: prettier --write, eslint --fix

chore(compiler): update package metadata and e2e dependency surfaces
  package.json
  packages/compiler/package.json
  packages/compiler/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(tailwindest): add compiled-tailwindest typing and variant normalization
  packages/tailwindest/src/__tests__/create_compiled_tailwindest.type-test.ts
  packages/tailwindest/src/__tests__/design_system_compiled_tailwindest.type-test.ts
  packages/tailwindest/src/create_compiled_tailwindest.ts
  packages/tailwindest/src/create_tailwindest.ts
  packages/tailwindest/src/index.ts
  packages/tailwindest/src/tools/__tests__/style_normalizer.test.ts
  packages/tailwindest/src/tools/__tests__/styler.test.ts
  packages/tailwindest/src/tools/style_normalizer.ts
  packages/tailwindest/src/tools/styler.ts
  packages/tailwindest/src/types/core.ts
Due: prettier --write, eslint --fix

docs(compiler): add compiler package README and illustration
  images/tailwindest-compiler.png
  packages/compiler/README.md
Due: prettier --write

chore(root): align vitest dependency version
  package.json
Due: prettier --write

chore(root): upgrade TypeScript and Vitest toolchain baseline
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix

chore(test): centralize Vitest timeout settings
  packages/compiler/vitest.config.ts
  packages/create-tailwind-type/src/generator/__tests__/css_property_resolver.test.ts
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/css-transformer/vitest.config.ts
Due: prettier --write, eslint --fix

chore(compiler): tighten compiler tsconfig and build target config
  packages/compiler/tsconfig.build.json
  packages/compiler/tsconfig.json
  packages/compiler/tsup.config.ts
Due: prettier --write, eslint --fix

docs(compiler): revise architecture and planning documentation
  packages/compiler/README.md
  packages/compiler/docs/ARCHITECTURE.md
  packages/compiler/docs/details_plan.md
  packages/compiler/docs/discussion.md
Due: prettier --write

chore(compiler/e2e): update design-system fixture docs and route artifacts
  packages/compiler/e2e/design-system-next/README.md
  packages/compiler/e2e/design-system-tanstack-start/README.md
  packages/compiler/e2e/design-system-vite/README.md
Due: prettier --write

docs(css-transformer): rewrite architecture and pipeline plan documentation
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_analyzer.md
  packages/css-transformer/docs/details_resolver.md
  packages/css-transformer/docs/details_testing.md
  packages/css-transformer/docs/details_walker.md
  packages/css-transformer/docs/planes_1_resolver.md
  packages/css-transformer/docs/planes_2_analyzer.md
  packages/css-transformer/docs/planes_3_walker.md
  packages/css-transformer/docs/plans/planes_1_resolver.md
  packages/css-transformer/docs/plans/planes_2_analyzer.md
  packages/css-transformer/docs/plans/planes_3_walker.md
  packages/css-transformer/docs/plans/review_1_resolver.md
  packages/css-transformer/docs/plans/review_2_analyzer.md
  packages/css-transformer/docs/plans/review_3_walker.md
  packages/css-transformer/docs/plans/review_4_shadcn.md
  packages/css-transformer/docs/review_1_resolver.md
  packages/css-transformer/docs/review_2_analyzer.md
  packages/css-transformer/docs/review_3_walker.md
Due: prettier --write

docs(plan): add fumadocs migration implementation plan
  docs/plans/2026-04-28-fumadocs-migration.md
Due: prettier --write

feat(css-transformer): add mode-aware output switching for compiled Tailwindest
  packages/css-transformer/src/analyzer/token_analyzer.ts
  packages/css-transformer/src/cli.ts
  packages/css-transformer/src/context/index.ts
  packages/css-transformer/src/context/output_mode.ts
  packages/css-transformer/src/context/transformer_context.ts
  packages/css-transformer/src/index.ts
  packages/css-transformer/src/walkers/classname_walker.ts
  packages/css-transformer/src/walkers/cn_walker.ts
  packages/css-transformer/src/walkers/cva_walker.ts
Due: prettier --write, eslint --fix

test(css-transformer): add compiled-vs-runtime mode coverage
  packages/css-transformer/tests/analyzer/token_analyzer.test.ts
  packages/css-transformer/tests/context/output_mode.test.ts
  packages/css-transformer/tests/registry/transformer_registry.test.ts
  packages/css-transformer/tests/walkers/classname_walker.test.ts
  packages/css-transformer/tests/walkers/cn_walker.test.ts
  packages/css-transformer/tests/walkers/cva_walker.test.ts
Due: prettier --write, eslint --fix

docs(css-transformer): add compiled output mode strategy plan
  packages/css-transformer/docs/plans/compiled_output_mode_strategy.md
Due: prettier --write

chore(css-transformer): refresh tsconfig for Node typings and deprecation handling
  packages/css-transformer/tsconfig.json
Due: prettier --write

feat(web): refine docs shell behavior and theme pipeline
  pnpm-lock.yaml
  web/app/[[...slug]]/page.tsx
  web/app/global.css
  web/app/layout.tsx
  web/components/collapse-sidebar-on-load.tsx
  web/lib/source.ts
  web/next.config.mjs
  web/package.json
  web/tsconfig.json
Due: prettier --write, eslint --fix

docs(web): reorganize docs content and remove deprecated start/examples pages
  web/content/docs/apis/meta.json
  web/content/docs/compiler.mdx
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/css-transformer.mdx
  web/content/docs/examples/meta.json
  web/content/docs/examples/next.mdx
  web/content/docs/examples/react_native.mdx
  web/content/docs/examples/svelte.mdx
  web/content/docs/index.mdx
  web/content/docs/meta.json
  web/content/docs/recipe/meta.json
  web/content/docs/setup.mdx
  web/content/docs/start/benefits.mdx
  web/content/docs/start/introduction.mdx
  web/content/docs/start/meta.json
Due: prettier --write

chore: remove outdated SECURITY policy doc
  SECURITY.md
Due: prettier --write

chore(deps): bump create-tailwind-type and css-transformer dependencies
  packages/create-tailwind-type/package.json
  packages/css-transformer/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
