Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

🔖 V2.3.2
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

📝 docs: update next and react-native example for latest version and update docs
  examples/rn-expo/.gitignore
  examples/rn-expo/README.md
  examples/rn-expo/app.d.ts
  examples/rn-expo/app.json
  examples/rn-expo/app/_layout.tsx
  examples/rn-expo/app/index.tsx
  examples/rn-expo/assets/fonts/SpaceMono-Regular.ttf
  examples/rn-expo/assets/images/adaptive-icon.png
  examples/rn-expo/assets/images/favicon.png
  examples/rn-expo/assets/images/icon.png
  examples/rn-expo/assets/images/partial-react-logo.png
  examples/rn-expo/assets/images/react-logo.png
  examples/rn-expo/assets/images/react-logo@2x.png
  examples/rn-expo/assets/images/react-logo@3x.png
  examples/rn-expo/assets/images/splash.png
  examples/rn-expo/babel.config.js
  examples/rn-expo/constants/Colors.ts
  examples/rn-expo/constants/tw.ts
  examples/rn-expo/hooks/useColorScheme.ts
  examples/rn-expo/hooks/useColorScheme.web.ts
  examples/rn-expo/hooks/useThemeColor.ts
  examples/rn-expo/package-lock.json
  examples/rn-expo/package.json
  examples/rn-expo/postcss.config.js
  examples/rn-expo/scripts/reset-project.js
  examples/rn-expo/tailwind.config.js
  examples/rn-expo/tsconfig.json
Due: prettier --write, eslint --fix

🐛 fix: invalid property, class
  site/pages/examples/react_native.mdx
Due: none

🔨 chore: remove useless tsconfig
  site/tsconfig.json
  tsconfig.json
Due: prettier --write

🔨 chore: remove useless tsconfig
  tsconfig.json
Due: prettier --write

[ImgBot] Optimize images
  examples/rn-expo/assets/images/favicon.png
  examples/rn-expo/assets/images/react-logo.png
  examples/rn-expo/assets/images/react-logo@2x.png
  examples/rn-expo/assets/images/react-logo@3x.png
  images/demo-result.jpeg
  images/tailwindest.banner.png
  ios/tailwindestrepository/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  site/public/images/cond.png
  site/public/images/expo-demo-result.jpeg
  site/public/images/rotary.png
  site/public/images/tailwindest.banner.png
  site/public/images/toggle.png
  site/public/images/variants.png
Due: none

🐛 Corrected TextIndent variants typing
  packages/tailwindest/src/types/tailwind/properties/font/index.ts
Due: prettier --write, eslint --fix

🔖 V2.3.3
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

🐛 fix: remove `Variants` generic constraint at createTools, and remove `Rotary` constraint too
  packages/tailwindest/src/create.tools.ts
Due: prettier --write, eslint --fix

♻️ refactor: remove unnecessary generic constraint at `createRotary` function
  packages/tailwindest/src/core/tools/create.rotary.ts
Due: prettier --write, eslint --fix

✅ test: update failed test suites for variants
  packages/tailwindest/__tests__/get.variants.test.ts
Due: prettier --write, eslint --fix

🔖 V2.3.4
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

📦️ chore: update root packages version
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  eslint.config.js
  examples/svelte/package.json
  package.json
  packages/tailwindest/src/core/tools/create.toggle.ts
  packages/tailwindest/src/core/tools/create.variants.ts
  pnpm-lock.yaml
  scripts/benchmark/logger.js
  turbo.json
Due: prettier --write, eslint --fix

♻️ refactor: add x, y direction for `overflow` property
  packages/tailwindest/src/types/tailwind/properties/layout/@overflow.ts
Due: prettier --write, eslint --fix

🔨 chore: remove eslint script for test.yml github ci script
  .github/workflows/test.yml
Due: none

🔨 chore: fix eslint target dir
  package.json
Due: prettier --write

🔖 V2.3.5
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

🐛 fix: aspect-ratio variants error, correct TailwindArbitrary location
  packages/tailwindest/src/types/tailwind/properties/layout/@aspect.ratio.ts
Due: prettier --write, eslint --fix

🔖 V2.3.6
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

🚧 Added type list generator
  .prettierignore
  package.json
  packages/tailwindest/__tests__/TailwindTypes.out.ts
  pnpm-lock.yaml
  scripts/generate.js
Due: prettier --write, eslint --fix

🚧 Outlined classname coverage test
  packages/tailwindest/__tests__/classname.coverage.test.ts
Due: prettier --write, eslint --fix

🧑‍💻 Sorted classnames
  packages/tailwindest/__tests__/TailwindTypes.out.ts
  scripts/generate.js
Due: prettier --write, eslint --fix

🐛 Omit mistaken classes from container
  packages/tailwindest/__tests__/TailwindTypes.out.ts
  scripts/generate.js
Due: prettier --write, eslint --fix

🧪 Added classname coverage test
  packages/tailwindest/__tests__/classname.coverage.test.ts
Due: prettier --write, eslint --fix

♻️ refactor: cache internal logic, refactoring into class
  packages/tailwindest/src/core/cache.ts
Due: prettier --write, eslint --fix

♻️ refactor: use literal, instead of using constant
  packages/tailwindest/src/core/get.styleclass.ts
Due: prettier --write, eslint --fix

✅ test: update cache test code
  packages/tailwindest/__tests__/core/cache.test.ts
Due: prettier --write, eslint --fix

🚚 move: core/tools into tools, independent dir
  packages/tailwindest/src/core/index.ts
  packages/tailwindest/src/create.tools.ts
  packages/tailwindest/src/tools/create.merge.props.ts
  packages/tailwindest/src/tools/create.rotary.ts
  packages/tailwindest/src/tools/create.style.ts
  packages/tailwindest/src/tools/create.toggle.ts
  packages/tailwindest/src/tools/create.variants.ts
  packages/tailwindest/src/tools/index.ts
  packages/tailwindest/src/tools/tool.interface.ts
Due: prettier --write, eslint --fix

🔥 remove: bulk files-ios
  ios/.gitignore
  ios/.xcode.env
  ios/Podfile
  ios/Podfile.lock
  ios/Podfile.properties.json
  ios/tailwindestrepository.xcodeproj/project.pbxproj
  ios/tailwindestrepository.xcodeproj/xcshareddata/xcschemes/tailwindestrepository.xcscheme
  ios/tailwindestrepository.xcworkspace/contents.xcworkspacedata
  ios/tailwindestrepository/AppDelegate.h
  ios/tailwindestrepository/AppDelegate.mm
  ios/tailwindestrepository/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  ios/tailwindestrepository/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/tailwindestrepository/Images.xcassets/Contents.json
  ios/tailwindestrepository/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  ios/tailwindestrepository/Images.xcassets/SplashScreenBackground.imageset/image.png
  ios/tailwindestrepository/Info.plist
  ios/tailwindestrepository/PrivacyInfo.xcprivacy
  ios/tailwindestrepository/SplashScreen.storyboard
  ios/tailwindestrepository/Supporting/Expo.plist
  ios/tailwindestrepository/main.m
  ios/tailwindestrepository/noop-file.swift
  ios/tailwindestrepository/tailwindestrepository-Bridging-Header.h
  ios/tailwindestrepository/tailwindestrepository.entitlements
Due: prettier --write

🔥 remove: unused files
  .watchmanconfig
  app.json
Due: prettier --write

📦️ chore: change tester into vitest
  package.json
  packages/tailwindest/__tests__/core/cache.test.ts
  packages/tailwindest/__tests__/core/deep.merge.test.ts
  packages/tailwindest/__tests__/core/flatten.object.test.ts
  packages/tailwindest/__tests__/core/get.style.class.test.ts
  packages/tailwindest/__tests__/core/get.tailwind.class.test.ts
  packages/tailwindest/__tests__/core/nested.object.type.test.ts
  packages/tailwindest/__tests__/create.tools.test.ts
  packages/tailwindest/__tests__/get.variants.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier --write, eslint --fix

🐛 fix: typeerror at code completion
  site/components/common/CodeCompletion.tsx
  site/next-env.d.ts
Due: prettier --write, eslint --fix

🔧 chore: exclude .mjs extension for eslinting
  eslint.config.js
Due: none

chpre: update dependency, remove gitmoji it sucks
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add type_gen package for generating types for `tailwind@v4`
  packages/type_gen/package.json
Due: prettier --write

chore: add jsconfig for web scripts
  packages/type_gen/jsconfig.json
Due: prettier --write

chore: update .gitignore for v3 generation
  .gitignore
Due: none

chore: update tsconfig moduleResolution, change it into bundler
  tsconfig.json
Due: prettier --write

remove: gitmoji
  .husky/prepare-commit-msg
Due: none

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
