Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:memo: docs: rewrite documentation for introduction and setup
  site/pages/1-start/problem.mdx
  site/pages/1_start/_meta.json
  site/pages/1_start/conditional.svg
  site/pages/1_start/goals.mdx
  site/pages/1_start/introduction.mdx
  site/pages/1_start/microwave.png
  site/pages/1_start/problem.mdx
  site/pages/1_start/variants.png
  site/pages/2-learn/basic-usage-style.mdx
  site/pages/2_setup.mdx
  site/pages/3-usage/_meta.json
  site/pages/3-usage/react.mdx
  site/pages/3-usage/svelte.mdx
  site/pages/3-usage/vanilla-js.mdx
  site/pages/3-usage/vue.mdx
  site/pages/3_learn/_meta.json
  site/pages/3_learn/advanced-usage-complex-variants.mdx
  site/pages/3_learn/advanced-usage-create.mdx
  site/pages/3_learn/advanced-usage-customize.mdx
  site/pages/3_learn/advanced-usage-merging-styles.mdx
  site/pages/3_learn/basic-usage-conditional.mdx
  site/pages/3_learn/basic-usage-style.mdx
  site/pages/4-apis/_meta.json
  site/pages/4-apis/createWind.mdx
  site/pages/4_usage/_meta.json
  site/pages/4_usage/nativewind.mdx
  site/pages/4_usage/next.mdx
  site/pages/4_usage/svelte.mdx
  site/pages/5_apis/Tailwindest.mdx
  site/pages/5_apis/WindVariants.mdx
  site/pages/5_apis/_meta.json
  site/pages/5_apis/createVariants.mdx
  site/pages/5_apis/createWind.mdx
  site/pages/5_apis/mergeProps.mdx
  site/pages/5_apis/toggle.mdx
  site/pages/5_apis/wind$.mdx
  site/pages/5_apis/wind.mdx
  site/pages/_meta.json
  site/public/images/architecture.png
  site/public/images/tailwindest.banner.png
Due: prettier --write

:memo: docs: update conditional styling at introduction
  site/pages/1_start/introduction.mdx
Due: none

:memo: docs: update setup document
  site/pages/2_setup.mdx
Due: none

:memo: docs: add live examples through `Stackblitz`
  site/components/common/Stackblitz.tsx
  site/pages/4_usage/nativewind.mdx
  site/pages/4_usage/next.mdx
  site/pages/4_usage/svelte.mdx
Due: none

:memo: docs: add `toggle` function document and update documents
  site/pages/5_apis/createVariants.mdx
  site/pages/5_apis/mergeProps.mdx
  site/pages/5_apis/toggle.mdx
  site/pages/5_apis/wind$.mdx
  site/pages/5_apis/wind.mdx
Due: none

:recycle: refactor: site components
  site/components/common/Card.tsx
  site/components/common/index.ts
  site/components/pages/main.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: update site section structure
  site/pages/_meta.json
Due: prettier --write

:memo: docs: update introduction document for package description
  site/pages/1_start/introduction.mdx
  site/pages/1_start/introduction.tldr
Due: none

:memo: chore: add `conditional.svg` document description image
  site/pages/1_start/conditional.svg
Due: none

:memo: docs: update goals document
  site/pages/1_start/goals.mdx
Due: none

:memo: docs: rewrite setup document for version `1.1.0`
  site/pages/2_setup.mdx
Due: none

:memo: docs: add learning documentations!
  site/pages/3_learn/_meta.json
  site/pages/3_learn/advanced-usage-complex-variants.mdx
  site/pages/3_learn/advanced-usage-create.mdx
  site/pages/3_learn/advanced-usage-customize.mdx
  site/pages/3_learn/advanced-usage-merging-styles.mdx
  site/pages/3_learn/basic-usage-conditional.mdx
  site/pages/3_learn/basic-usage-style.mdx
  site/pages/3_learn/conditional-size.png
  site/pages/3_learn/conditional-styling.mdx
  site/pages/3_learn/conditional-toggle.png
  site/pages/3_learn/conditional-total.png
  site/pages/3_learn/conditional-type.png
  site/pages/3_learn/customize.mdx
  site/pages/3_learn/styling.mdx
  site/pages/3_learn/utility.mdx
Due: prettier --write

:bug: fix: remove the `terser` from `rollup.config.mjs` to resolve variable name conflicts
  rollup.config.mjs
Due: none

1.1.1
  package.json
Due: prettier --write

:recycle: refactor: remove unused scripts at site
  site/components/common/Stackblitz.tsx
Due: none

:bug: fix: update `tailwindest` to ^`1.1.1` to resolve build variable error
  site/package.json
  site/pnpm-lock.yaml
Due: prettier --write

[ImgBot] Optimize images
  examples/expo-nativewind/assets/favicon.png
  images/tailwindest.banner.png
  site/pages/1_start/microwave.png
  site/pages/1_start/variants.png
  site/pages/3_learn/conditional-size.png
  site/pages/3_learn/conditional-toggle.png
  site/pages/3_learn/conditional-total.png
  site/pages/3_learn/conditional-type.png
  site/public/favicon.png
  site/public/favicon.svg
  site/public/images/tailwindest.banner.png
  site/public/images/tailwindest.type.png
Due: none

:memo: fix: incorrect document for `toggle` util function
  site/pages/1_start/introduction.mdx
  site/pages/3_learn/conditional-styling.mdx
  site/pages/5_apis/toggle.mdx
Due: none

:memo: docs: update introduction document
  site/pages/1_start/introduction.mdx
Due: none

:recycle: refactor: update bench scripts for version `1.1.1`
  js/benchmark/bench.js
  js/benchmark/bench.manager.js
  js/benchmark/logger.js
  js/benchmark/test.js
Due: none

:sparkles: feat: add `:optional` peer/group condition
  packages/types/tailwindest/@nest.extends.ts
Due: prettier --write, eslint --fix

:bug: fix: change `:backdrop` to a pseudo element, `::backdrop`
  packages/types/tailwindest/@nest.basic.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `aria` variant and add `styleConfig` for `aria` value
  packages/tailwindest.ts
  packages/types/tailwind.plugin.key.ts
  packages/types/tailwind.plugin.option.ts
  packages/types/tailwindest/@nest.extends.ts
  packages/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:boom: !BREAKING: remove `border` shorthand syntax to correct merge process
  packages/types/tailwind.borders/@border.color.ts
  packages/types/tailwindest/@nest.core.ts
Due: prettier --write, eslint --fix

:recycle: refactor: update generic type name for `divideColor`
  packages/types/tailwind.borders/@border.color.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `max` max-width break conditions
  packages/types/tailwindest/@nest.basic.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `max` and `aria` conditions for child depth
  js/scripts/extract.js
  packages/types/tailwind.nested/@basic.ts
Due: prettier --write, eslint --fix

:package: chore: update typescript ^`5.0.4` and update build dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

:recycle: refactor: update aria generic type name
  packages/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `950` color accent
  packages/types/tailwind.common/@accent.ts
Due: prettier --write, eslint --fix

:pencil2: fix: filename typo
  packages/types/tailwind.backgrounds/@background.color.ts
Due: prettier --write, eslint --fix

:boom: !BREAKING: change property name `backgroundImageGradient` to `gradient` for concise usage
  packages/types/tailwind.backgrounds/@background.image.ts
  packages/types/tailwind.backgrounds/@gradient.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add gradient position property and rename property to `gradient{}`
  packages/types/tailwind.backgrounds/@gradient.color.stops.ts
  packages/types/tailwind.backgrounds/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `lineClamp` property
  packages/types/tailwind.font/@line.clamp.ts
  packages/types/tailwind.font/index.ts
  packages/types/tailwind.plugin.key.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `listStyleImage` property
  packages/types/tailwind.font/@list.style.image.ts
  packages/types/tailwind.font/index.ts
  packages/types/tailwind.plugin.key.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `hyphens` property
  packages/types/tailwind.font/@hypens.ts
  packages/types/tailwind.font/index.ts
  packages/types/tailwind.plugin.key.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `captionSide` property
  packages/types/tailwind.tables/@caption.side.ts
  packages/types/tailwind.tables/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add shorthand syntax, `fontSize/lineHeight`
  packages/types/tailwind.font/@font.size.ts
  packages/types/tailwind.font/@line.height.ts
  packages/types/tailwind.font/index.ts
Due: prettier --write, eslint --fix

:hammer: chore: update `.gitignore` and add vscode code snippet
  .gitignore
  .vscode/tailwind.code-snippets
  examples/next/.gitignore
Due: none

:memo: docs: update main `readme.md`
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
