Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

refactor(web): remove sidebar auto-collapse on page load
  web/app/[[...slug]]/page.tsx
  web/components/collapse-sidebar-on-load.tsx
Due: none

chore(scope): add npm scope to package names
  packages/create-tailwind-type/package.json
  packages/css-transformer/package.json
Due: prettier --write

docs(web): rewrite compiler and CLI docs for migration/compile guidance
  web/app/global.css
  web/content/docs/compiler.mdx
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/css-transformer.mdx
Due: none

docs(css-transformer): align production design docs and add mode strategy notes
  packages/css-transformer/README.md
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_analyzer.md
  packages/css-transformer/docs/details_output_mode.md
  packages/css-transformer/docs/details_plan.md
  packages/css-transformer/docs/details_resolver.md
  packages/css-transformer/docs/details_testing.md
  packages/css-transformer/docs/details_walker.md
  packages/css-transformer/docs/discussion.md
Due: prettier --write

docs: add CreateCompiledTailwindest docs and update tool pages
  web/content/docs/apis/createcompiledtailwindest.mdx
  web/content/docs/apis/meta.json
  web/content/docs/compiler.mdx
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/css-transformer.mdx
  web/public/images/create-tailwind-type-banner.png
  web/public/images/tailwind-transform.png
  web/public/images/tailwindest-compiler.png
Due: prettier --write

chore(create-tailwind-type): align package metadata
  packages/create-tailwind-type/package.json
Due: prettier --write

feat(compiler): default compile mode to loose with fallback behavior
  packages/tailwindest-compiler/README.md
  packages/tailwindest-compiler/docs/ARCHITECTURE.md
  packages/tailwindest-compiler/src/core/merger.ts
  packages/tailwindest-compiler/src/index.ts
  packages/tailwindest-compiler/src/vite/__tests__/vite_plugin.test.ts
  packages/tailwindest-compiler/src/vite/context.ts
  packages/tailwindest-compiler/src/vite/index.ts
Due: prettier --write, eslint --fix

docs(web): update compiler docs for loose-mode defaults
  web/content/docs/compiler.mdx
Due: none

docs(web): update CLI page metadata and install examples
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/css-transformer.mdx
  web/content/docs/setup.mdx
Due: none

chore(monorepo): introduce shared core/internal packages and workspace aliases
  package.json
  packages/create-tailwind-type/package.json
  packages/css-transformer/package.json
  packages/tailwind-internal/package.json
  packages/tailwind-internal/src/__tests__/compiler.test.ts
  packages/tailwind-internal/src/__tests__/extractor.test.ts
  packages/tailwind-internal/src/__tests__/resolution.test.ts
  packages/tailwind-internal/src/compiler.ts
  packages/tailwind-internal/src/discovery.ts
  packages/tailwind-internal/src/extractor.ts
  packages/tailwind-internal/src/index.ts
  packages/tailwind-internal/src/load.ts
  packages/tailwind-internal/src/resolution.ts
  packages/tailwind-internal/tsconfig.json
  packages/tailwind-internal/tsup.config.ts
  packages/tailwind-internal/vitest.config.ts
  packages/tailwindest-compiler/package.json
  packages/tailwindest-core/package.json
  packages/tailwindest-core/src/__tests__/runtime_parity.test.ts
  packages/tailwindest-core/src/class_list.ts
  packages/tailwindest-core/src/evaluation_engine.ts
  packages/tailwindest-core/src/index.ts
  packages/tailwindest-core/src/style_engine.ts
  packages/tailwindest-core/src/style_normalizer.ts
  packages/tailwindest-core/src/styler_model.ts
  packages/tailwindest-core/tsup.config.ts
  packages/tailwindest-core/vitest.config.ts
  packages/tailwindest/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

refactor(create-tailwind-type): consume shared tailwind internal package
  packages/create-tailwind-type/README.md
  packages/create-tailwind-type/src/__tests__/cli_discovery.test.ts
  packages/create-tailwind-type/src/cli.ts
  packages/create-tailwind-type/src/generator/__tests__/css_property_resolver.test.ts
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/create-tailwind-type/src/generator/generator.ts
  packages/create-tailwind-type/src/index.ts
  packages/create-tailwind-type/src/internal/__snapshots__/compiler.test.ts.snap
  packages/create-tailwind-type/src/internal/__tests__/discovery.test.ts
  packages/create-tailwind-type/src/internal/compiler.test.ts
  packages/create-tailwind-type/src/internal/compiler.ts
  packages/create-tailwind-type/src/internal/discovery.ts
  packages/create-tailwind-type/src/internal/index.ts
  packages/create-tailwind-type/src/internal/resolution.ts
  packages/create-tailwind-type/vitest.config.ts
Due: prettier --write, eslint --fix

test(css-transformer): add local vitest configuration and dependency
  packages/css-transformer/vitest.config.ts
Due: prettier --write, eslint --fix

feat(tailwindest): delegate style normalization and merge semantics to core package
  packages/tailwindest/src/tools/__tests__/style_normalizer.test.ts
  packages/tailwindest/src/tools/__tests__/styler.test.ts
  packages/tailwindest/src/tools/primitive.ts
  packages/tailwindest/src/tools/style_normalizer.ts
  packages/tailwindest/src/tools/styler.ts
  packages/tailwindest/src/tools/to_class.ts
  packages/tailwindest/tsconfig.build.json
  packages/tailwindest/tsup.config.ts
  packages/tailwindest/vitest.config.ts
Due: prettier --write, eslint --fix

docs(web): update compiler and CLI docs for compiled variant workflow
  web/content/docs/compiler.mdx
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/recipe/customize.mdx
  web/content/docs/setup.mdx
  web/next.config.mjs
Due: none

chore(plans): add internal refactor planning notes
  .agents/skills/orchestrator-implementer-judge-loop/SKILL.md
  .agents/skills/orchestrator-implementer-judge-loop/agents/openai.yaml
  docs/plans/2026-04-30-compiled-variant-metadata-boundary.md
  docs/plans/2026-04-30-runtime-compiler-normalizer-boundary.md
  docs/plans/2026-04-30-tailwindest-core-engine-extraction.md
Due: prettier --write

chore(css-transformer): align package type exports with .d.ts outputs
  packages/css-transformer/package.json
Due: prettier --write

chore(tailwindest-core): align build pipeline with tsup defaults
  packages/tailwindest-core/package.json
Due: prettier --write

chore(tailwindest-compiler): update package exports and split test scripts
  packages/tailwindest-compiler/package.json
Due: prettier --write

feat(tailwindest): allow style() to merge additional static style args
  packages/tailwindest/src/tools/toggle.ts
Due: prettier --write, eslint --fix

feat(tailwindest-compiler): improve analyzer call resolution for tailwindest styler APIs
  packages/tailwindest-compiler/src/analyzer/__tests__/detector.test.ts
  packages/tailwindest-compiler/src/analyzer/__tests__/static_resolver.test.ts
  packages/tailwindest-compiler/src/analyzer/ast_bindings.ts
  packages/tailwindest-compiler/src/analyzer/detector.ts
  packages/tailwindest-compiler/src/analyzer/static_resolver.ts
  packages/tailwindest-compiler/src/analyzer/symbols.ts
Due: prettier --write, eslint --fix

feat(tailwindest-compiler): refactor vite transform flow to use resolved call args
  packages/tailwindest-compiler/src/core/__tests__/api_compile.test.ts
  packages/tailwindest-compiler/src/core/__tests__/variant_optimizer.test.ts
  packages/tailwindest-compiler/src/core/__tests__/zero_runtime_codegen.test.ts
  packages/tailwindest-compiler/src/core/api_compile.ts
  packages/tailwindest-compiler/src/core/codegen.ts
  packages/tailwindest-compiler/src/core/diagnostic_types.ts
  packages/tailwindest-compiler/src/core/variant_optimizer.ts
  packages/tailwindest-compiler/src/debug/__tests__/diagnostics.test.ts
  packages/tailwindest-compiler/src/debug/diagnostics.ts
  packages/tailwindest-compiler/src/vite/__tests__/release_gate_matrix.test.ts
  packages/tailwindest-compiler/src/vite/__tests__/vite_plugin.test.ts
  packages/tailwindest-compiler/src/vite/compile_transform.ts
  packages/tailwindest-compiler/src/vite/context.ts
Due: prettier --write, eslint --fix

test(tailwindest-compiler): update design-system e2e matrix and harness coverage
  packages/tailwindest-compiler/e2e/DESIGN_SYSTEM_E2E_TESTING_SPEC.md
  packages/tailwindest-compiler/e2e/FRAMEWORK_PARITY_SPEC.md
  packages/tailwindest-compiler/e2e/design-system-next/README.md
  packages/tailwindest-compiler/e2e/design-system-next/design-system-next.test.ts
  packages/tailwindest-compiler/e2e/design-system-tanstack-start/README.md
  packages/tailwindest-compiler/e2e/design-system-tanstack-start/design-system-tanstack-start.test.ts
  packages/tailwindest-compiler/e2e/design-system-vite/README.md
  packages/tailwindest-compiler/e2e/design-system-vite/design-system-vite.test.ts
  packages/tailwindest-compiler/e2e/design-system/shared/design_system_expectations.ts
  packages/tailwindest-compiler/e2e/design-system/shared/design_system_fixture.tsx
  packages/tailwindest-compiler/e2e/design-system/shared/design_system_harness.ts
  packages/tailwindest-compiler/e2e/shared/framework_harness.ts
  packages/tailwindest-compiler/e2e/tanstack-start-tailwind-v4/tanstack-start-tailwind-v4.test.ts
Due: prettier --write, eslint --fix

docs(tailwindest-compiler): refresh README and architecture notes
  packages/tailwindest-compiler/README.md
  packages/tailwindest-compiler/docs/ARCHITECTURE.md
Due: prettier --write

docs: add migration phase and validation documentation
  docs/migration/phase_1.md
  docs/migration/phase_2.md
  docs/migration/phase_3.md
  docs/migration/phase_4.md
  docs/migration/validation_1.md
  docs/migration/validation_2.md
  docs/migration/validation_3.md
  docs/migration/validation_4.md
Due: prettier --write

chore(css-transformer): output JS extension for tsup and runtime entry points
  packages/css-transformer/package.json
  packages/css-transformer/tsup.config.ts
Due: prettier --write, eslint --fix

chore(tailwind-internal): output JS extension for tsup and package exports
  packages/tailwind-internal/package.json
  packages/tailwind-internal/tsup.config.ts
Due: prettier --write, eslint --fix

chore(tailwindest-compiler): output JS extension for tsup and package exports
  packages/tailwindest-compiler/package.json
  packages/tailwindest-compiler/tsup.config.ts
Due: prettier --write, eslint --fix

chore(tailwindest-core): output JS extension for tsup and package exports
  packages/tailwindest-core/package.json
  packages/tailwindest-core/tsup.config.ts
Due: prettier --write, eslint --fix

chore(tailwindest): update package module entry extension to .js
  packages/tailwindest/package.json
Due: prettier --write

docs: sync latest compiler strategy
  packages/tailwindest-compiler/README.md
  packages/tailwindest-compiler/docs/ARCHITECTURE.md
  web/content/docs/compiler.mdx
  web/content/docs/css-transformer.mdx
Due: prettier --write

docs: remove temporary migration phase documents
  docs/migration/phase_1.md
  docs/migration/phase_2.md
  docs/migration/phase_3.md
  docs/migration/phase_4.md
  docs/migration/validation_1.md
  docs/migration/validation_2.md
  docs/migration/validation_3.md
  docs/migration/validation_4.md
Due: prettier --write

feat(css-transformer): support compiled-output mode in CLI context
  packages/css-transformer/src/cli.ts
  packages/css-transformer/src/context/output_mode.ts
  packages/css-transformer/tests/context/output_mode.test.ts
Due: prettier --write, eslint --fix

docs(css-transformer): update architecture and implementation notes for compiled output mode
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_output_mode.md
  packages/css-transformer/docs/details_plan.md
  packages/css-transformer/docs/discussion.md
  packages/css-transformer/docs/plans/compiled_output_mode_strategy.md
Due: prettier --write

chore(tailwindest-compiler): mark package as private deprecated internal package
  packages/tailwindest-compiler/package.json
Due: prettier --write

feat(tailwindest-compiler): harden analyzer resolution for styler and class-style calls
  packages/tailwindest-compiler/src/analyzer/__tests__/detector.test.ts
  packages/tailwindest-compiler/src/analyzer/__tests__/static_resolver.test.ts
  packages/tailwindest-compiler/src/analyzer/ast_bindings.ts
  packages/tailwindest-compiler/src/analyzer/detector.ts
  packages/tailwindest-compiler/src/analyzer/static_resolver.ts
Due: prettier --write, eslint --fix

feat(tailwindest-compiler): add compiled-style normalization and merge pipeline
  packages/tailwindest-compiler/src/core/__tests__/api_compile.test.ts
  packages/tailwindest-compiler/src/core/__tests__/compiled_style_normalizer.test.ts
  packages/tailwindest-compiler/src/core/__tests__/merger.test.ts
  packages/tailwindest-compiler/src/core/__tests__/variant_optimizer.test.ts
  packages/tailwindest-compiler/src/core/api_compile.ts
  packages/tailwindest-compiler/src/core/compiled_style_normalizer.ts
  packages/tailwindest-compiler/src/core/merger.ts
  packages/tailwindest-compiler/src/core/variant_optimizer.ts
  packages/tailwindest-compiler/src/index.ts
Due: prettier --write, eslint --fix

feat(tailwindest-compiler): integrate compiled-style transform path into vite pipeline
  packages/tailwindest-compiler/src/transform/__tests__/import_cleanup.test.ts
  packages/tailwindest-compiler/src/transform/import_cleanup.ts
  packages/tailwindest-compiler/src/vite/__tests__/release_gate_matrix.test.ts
  packages/tailwindest-compiler/src/vite/__tests__/vite_plugin.test.ts
  packages/tailwindest-compiler/src/vite/compile_transform.ts
  packages/tailwindest-compiler/src/vite/context.ts
  packages/tailwindest-compiler/src/vite/hmr.ts
  packages/tailwindest-compiler/src/vite/index.ts
Due: prettier --write, eslint --fix

docs(tailwindest-compiler): document compiled pipeline transition and implementation state
  packages/tailwindest-compiler/README.md
  packages/tailwindest-compiler/docs/ARCHITECTURE.md
  packages/tailwindest-compiler/docs/details_plan.md
  packages/tailwindest-compiler/docs/discussion.md
Due: prettier --write

chore(tailwindest-compiler): update generated e2e route fixtures and parity support files
  packages/tailwindest-compiler/e2e/design-system/shared/design_system_types.ts
  packages/tailwindest-compiler/e2e/tanstack-start-tailwind-v4/src/tailwindest-parity-fixture.tsx
Due: prettier --write, eslint --fix
