Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

Add: extract tailwind-nested class script
  .eslintrc.json
  package.json
  scripts/extract.js
Due: prettier --write

Refactor: extract class script
  scripts/extract.js
Due: none

:hammer: Update: use `gitmoji` as commit hook
  .husky/prepare-commit-msg
Due: none

:label: Add: `tailwind.spacing` type
  packages/types/tailwind.spacing/@margin.ts
  packages/types/tailwind.spacing/@padding.ts
  packages/types/tailwind.spacing/@space.between.ts
  packages/types/tailwind.spacing/@spacing.varients.ts
  packages/types/tailwind.spacing/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.sizing` type
  packages/types/tailwind.sizing/@height.ts
  packages/types/tailwind.sizing/@sizing.varients.ts
  packages/types/tailwind.sizing/@width.ts
  packages/types/tailwind.sizing/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.layout` type
  packages/types/tailwind.layout/@aspect.ratio.ts
  packages/types/tailwind.layout/@box.decoration.break.ts
  packages/types/tailwind.layout/@box.sizing.ts
  packages/types/tailwind.layout/@break.ts
  packages/types/tailwind.layout/@clear.ts
  packages/types/tailwind.layout/@columns.ts
  packages/types/tailwind.layout/@container.ts
  packages/types/tailwind.layout/@display.ts
  packages/types/tailwind.layout/@floats.ts
  packages/types/tailwind.layout/@isolation.ts
  packages/types/tailwind.layout/@object.fit.ts
  packages/types/tailwind.layout/@object.position.ts
  packages/types/tailwind.layout/@overflow.ts
  packages/types/tailwind.layout/@overscroll.behavior.ts
  packages/types/tailwind.layout/@position.ts
  packages/types/tailwind.layout/@visibility.ts
  packages/types/tailwind.layout/@z.index.ts
  packages/types/tailwind.layout/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.flex.grid` type
  packages/types/tailwind.flex.grid/@common.align.ts
  packages/types/tailwind.flex.grid/@common.gap.ts
  packages/types/tailwind.flex.grid/@common.justify.ts
  packages/types/tailwind.flex.grid/@common.order.ts
  packages/types/tailwind.flex.grid/@flex.basis.ts
  packages/types/tailwind.flex.grid/@flex.direction.ts
  packages/types/tailwind.flex.grid/@flex.grow.ts
  packages/types/tailwind.flex.grid/@flex.shrink.ts
  packages/types/tailwind.flex.grid/@flex.ts
  packages/types/tailwind.flex.grid/@flex.wrap.ts
  packages/types/tailwind.flex.grid/@grid.auto.flow.ts
  packages/types/tailwind.flex.grid/@grid.auto.ts
  packages/types/tailwind.flex.grid/@grid.column.start.end.ts
  packages/types/tailwind.flex.grid/@grid.justify.ts
  packages/types/tailwind.flex.grid/@grid.place.ts
  packages/types/tailwind.flex.grid/@grid.row.start.end.ts
  packages/types/tailwind.flex.grid/@grid.template.ts
  packages/types/tailwind.flex.grid/index.ts
Due: prettier --write, eslint --fix

:package: Remove: replace `vite` to `rollup`
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write, eslint --fix

:package: Add: `@rollup/plugin-typescript` ^8.5.0, `rollup` ^2.79.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

:wrench: Add: `rollup-plugin-terser` ^7.0.2, `rollup-plugin-esbuild` ^4.10.1, `esbuild` ^0.15.9 for `rollup.config` build process and add build script
  package.json
  pnpm-lock.yaml
  rollup.config.js
  tsconfig.json
Due: prettier --write

:fire: Update: `extract` script, remove unused type generation process
  scripts/extract.js
Due: none

:label: Add: `tailwind.backgrounds` type
  packages/types/tailwind.backgrounds/@backgroud.color.ts
  packages/types/tailwind.backgrounds/@background.attachment.ts
  packages/types/tailwind.backgrounds/@background.clip.ts
  packages/types/tailwind.backgrounds/@background.image.ts
  packages/types/tailwind.backgrounds/@background.origin.ts
  packages/types/tailwind.backgrounds/@background.position.ts
  packages/types/tailwind.backgrounds/@background.repeat.ts
  packages/types/tailwind.backgrounds/@background.size.ts
  packages/types/tailwind.backgrounds/@gradient.color.stops.ts
  packages/types/tailwind.backgrounds/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.borders` type
  packages/types/tailwind.borders/@border.color.ts
  packages/types/tailwind.borders/@border.radius.ts
  packages/types/tailwind.borders/@border.style.ts
  packages/types/tailwind.borders/@border.width.ts
  packages/types/tailwind.borders/@outline.color.ts
  packages/types/tailwind.borders/@outline.offset.ts
  packages/types/tailwind.borders/@outline.style.ts
  packages/types/tailwind.borders/@outline.ts
  packages/types/tailwind.borders/@ring.color.ts
  packages/types/tailwind.borders/@ring.offset.color.ts
  packages/types/tailwind.borders/@ring.offset.ts
  packages/types/tailwind.borders/@ring.width.ts
  packages/types/tailwind.borders/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.common` common types
  packages/types/tailwind.common/@accent.ts
  packages/types/tailwind.common/@arbitrary.ts
  packages/types/tailwind.common/@color.ts
  packages/types/tailwind.common/@color.variants.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.effects` type
  packages/types/tailwind.effects/@background.blend.mode.ts
  packages/types/tailwind.effects/@box.shadow.color.ts
  packages/types/tailwind.effects/@box.shadow.ts
  packages/types/tailwind.effects/@mix.blend.mode.ts
  packages/types/tailwind.effects/@opacity.ts
  packages/types/tailwind.effects/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.font` type
  packages/types/tailwind.font/@content.ts
  packages/types/tailwind.font/@font.family.ts
  packages/types/tailwind.font/@font.size.ts
  packages/types/tailwind.font/@font.smoothing.ts
  packages/types/tailwind.font/@font.style.ts
  packages/types/tailwind.font/@font.variant.numeric.ts
  packages/types/tailwind.font/@font.weight.ts
  packages/types/tailwind.font/@letter.spacing.ts
  packages/types/tailwind.font/@line.height.ts
  packages/types/tailwind.font/@list.style.position.ts
  packages/types/tailwind.font/@list.style.type.ts
  packages/types/tailwind.font/@text.align.ts
  packages/types/tailwind.font/@text.color.ts
  packages/types/tailwind.font/@text.decoration.color.ts
  packages/types/tailwind.font/@text.decoration.style.ts
  packages/types/tailwind.font/@text.decoration.thickness.ts
  packages/types/tailwind.font/@text.decoration.ts
  packages/types/tailwind.font/@text.indent.ts
  packages/types/tailwind.font/@text.overflow.ts
  packages/types/tailwind.font/@text.transform.ts
  packages/types/tailwind.font/@text.underline.offset.ts
  packages/types/tailwind.font/@vertical.align.ts
  packages/types/tailwind.font/@whitespace.ts
  packages/types/tailwind.font/@word.break.ts
  packages/types/tailwind.font/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.nested` `@basic` and `@combination` types with script generation
  packages/types/tailwind.nested/@basic.ts
  packages/types/tailwind.nested/@combination.ts
Due: prettier --write, eslint --fix

:pencil2: Fix: typo varients to variants
  packages/types/tailwind.flex.grid/@common.align.ts
  packages/types/tailwind.flex.grid/@common.gap.ts
  packages/types/tailwind.flex.grid/@common.justify.ts
  packages/types/tailwind.flex.grid/@common.order.ts
  packages/types/tailwind.flex.grid/@flex.basis.ts
  packages/types/tailwind.flex.grid/@flex.direction.ts
  packages/types/tailwind.flex.grid/@flex.grow.ts
  packages/types/tailwind.flex.grid/@flex.shrink.ts
  packages/types/tailwind.flex.grid/@flex.ts
  packages/types/tailwind.flex.grid/@flex.wrap.ts
  packages/types/tailwind.flex.grid/@grid.auto.flow.ts
  packages/types/tailwind.flex.grid/@grid.auto.ts
  packages/types/tailwind.flex.grid/@grid.column.start.end.ts
  packages/types/tailwind.flex.grid/@grid.justify.ts
  packages/types/tailwind.flex.grid/@grid.place.ts
  packages/types/tailwind.flex.grid/@grid.row.start.end.ts
  packages/types/tailwind.flex.grid/@grid.template.ts
  packages/types/tailwind.layout/@aspect.ratio.ts
  packages/types/tailwind.layout/@box.decoration.break.ts
  packages/types/tailwind.layout/@box.sizing.ts
  packages/types/tailwind.layout/@break.ts
  packages/types/tailwind.layout/@clear.ts
  packages/types/tailwind.layout/@columns.ts
  packages/types/tailwind.layout/@floats.ts
  packages/types/tailwind.layout/@object.fit.ts
  packages/types/tailwind.layout/@object.position.ts
  packages/types/tailwind.layout/@overflow.ts
  packages/types/tailwind.layout/@overscroll.behavior.ts
  packages/types/tailwind.layout/@position.ts
  packages/types/tailwind.layout/@z.index.ts
  packages/types/tailwind.sizing/@height.ts
  packages/types/tailwind.sizing/@sizing.varients.ts
  packages/types/tailwind.sizing/@width.ts
  packages/types/tailwind.spacing/@margin.ts
  packages/types/tailwind.spacing/@padding.ts
  packages/types/tailwind.spacing/@space.between.ts
  packages/types/tailwind.spacing/@spacing.varients.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.filters` type
  packages/types/tailwind.filters/@backdrop.opacity.ts
  packages/types/tailwind.filters/@blur.ts
  packages/types/tailwind.filters/@brigtness.ts
  packages/types/tailwind.filters/@contrast.ts
  packages/types/tailwind.filters/@drop.shadow.ts
  packages/types/tailwind.filters/@grayscale.ts
  packages/types/tailwind.filters/@hue.rotate.ts
  packages/types/tailwind.filters/@invert.ts
  packages/types/tailwind.filters/@saturate.ts
  packages/types/tailwind.filters/@sepia.ts
  packages/types/tailwind.filters/index.ts
Due: prettier --write, eslint --fix

:truck: Update: move `@spacing.variants` to common type
  packages/types/tailwind.common/@spacing.varients.ts
Due: prettier --write, eslint --fix

:label: Update: import path of `spacing` type
  packages/types/tailwind.font/@text.indent.ts
  packages/types/tailwind.sizing/@sizing.varients.ts
  packages/types/tailwind.spacing/@margin.ts
  packages/types/tailwind.spacing/@padding.ts
  packages/types/tailwind.spacing/@space.between.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.tables` type
  packages/types/tailwind.tables/@border.collapse.ts
  packages/types/tailwind.tables/@border.spacing.ts
  packages/types/tailwind.tables/@table.layout.ts
  packages/types/tailwind.tables/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.transition.animation` type
  packages/types/tailwind.transition.animation/@animation.ts
  packages/types/tailwind.transition.animation/@transition.delay.ts
  packages/types/tailwind.transition.animation/@transition.duration.ts
  packages/types/tailwind.transition.animation/@transition.property.ts
  packages/types/tailwind.transition.animation/@transition.timing.function.ts
  packages/types/tailwind.transition.animation/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.transforms` type
  packages/types/tailwind.transforms/@rotate.ts
  packages/types/tailwind.transforms/@scale.ts
  packages/types/tailwind.transforms/@skew.ts
  packages/types/tailwind.transforms/@transform.origin.ts
  packages/types/tailwind.transforms/@translate.ts
  packages/types/tailwind.transforms/index.ts
Due: prettier --write, eslint --fix

:label: Update: change `tailwind.common` spacing variants type name to `TailwindSpacingVariants`
  packages/types/tailwind.common/@spacing.varients.ts
  packages/types/tailwind.sizing/@sizing.varients.ts
  packages/types/tailwind.spacing/@margin.ts
  packages/types/tailwind.spacing/@padding.ts
  packages/types/tailwind.spacing/@space.between.ts
  packages/types/tailwind.tables/@border.spacing.ts
  packages/types/tailwind.transforms/@translate.ts
Due: prettier --write, eslint --fix

:label: Update: add transition shorthand syntax `transition`
  packages/types/tailwind.transition.animation/@transition.ts
  packages/types/tailwind.transition.animation/index.ts
Due: prettier --write, eslint --fix

:label: Update: imported spacing type name
  packages/types/tailwind.font/@text.indent.ts
Due: prettier --write, eslint --fix

:memo: Update: type `tsdoc` for units and descrition
  packages/types/tailwind.sizing/@height.ts
  packages/types/tailwind.sizing/@width.ts
  packages/types/tailwind.transition.animation/@transition.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.interactivity` type
  packages/types/tailwind.interactivity/@accent.color.ts
  packages/types/tailwind.interactivity/@appearance.ts
  packages/types/tailwind.interactivity/@caret.color.ts
  packages/types/tailwind.interactivity/@cursor.ts
  packages/types/tailwind.interactivity/@pointer.events.ts
  packages/types/tailwind.interactivity/@resize.ts
  packages/types/tailwind.interactivity/@scroll.behavior.ts
  packages/types/tailwind.interactivity/@scroll.margin.ts
  packages/types/tailwind.interactivity/@scroll.padding.ts
  packages/types/tailwind.interactivity/@scroll.snap.align.ts
  packages/types/tailwind.interactivity/@scroll.snap.stop.ts
  packages/types/tailwind.interactivity/@scroll.snap.type.ts
  packages/types/tailwind.interactivity/@touch.action.ts
  packages/types/tailwind.interactivity/@user.slect.ts
  packages/types/tailwind.interactivity/@will.change.ts
  packages/types/tailwind.interactivity/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.svg` type
  packages/types/tailwind.svg/@fill.ts
  packages/types/tailwind.svg/@stroke.ts
  packages/types/tailwind.svg/@stroke.width.ts
  packages/types/tailwind.svg/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.accessbility` type
  packages/types/tailwind.accessibility/@screen.readers.ts
  packages/types/tailwind.accessibility/index.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind` full type set
  packages/types/tailwind.ts
Due: prettier --write, eslint --fix

:hammer: Update: `extract` script, remove unused combination type generation process
  packages/types/tailwind.nested/@basic.ts
  packages/types/tailwind.nested/@combination.ts
  scripts/extract.js
Due: prettier --write, eslint --fix

:hammer: Update: The newly specified delimiter<`:`, `::`, `@`> has been applied to `media conditions` and `pseudo class-elements`
  packages/types/tailwind.nested/@basic.ts
  scripts/extract.js
Due: prettier --write, eslint --fix

:package: Add: `rimraf`^3.0.2 at dev-dependencies to remove `dist` at build
  package.json
  pnpm-lock.yaml
Due: prettier --write

:hammer: Update: clean `dist` folder at build script
  package.json
Due: prettier --write

:memo: Update: add missing `backdrop-blur` `@note` description
  packages/types/tailwind.filters/@blur.ts
Due: prettier --write, eslint --fix

:label: Add: common `nested.object` type
  packages/utils/nested.object.type.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `flatten.object` util function
  packages/utils/flatten.object.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `deep.merge` util function
  packages/utils/deep.merge.ts
Due: prettier --write, eslint --fix
