Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

:package: chore: add packages for jest testing environment
  package.json
  pnpm-lock.yaml
Due: prettier --write

:wrench: chore: add `jest.config.js` to setup jest
  jest.config.js
Due: none

:sparkles: feat: add test labeling util function
  tests/label.ts
Due: prettier --write, eslint --fix

:bug: fix: `nullish coalescing` is included in the object conversion condition at `flattenObject`
  packages/core/flatten.object.ts
Due: prettier --write, eslint --fix

:bug: fix: string values of nested objects in specific condition were converted to objects and merged at `deepMerge`
  packages/core/deep.merge.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `nested.object.type` to test given object is inferred as NestedObject type
  tests/core/nested.object.type.test.ts
Due: prettier --write, eslint --fix

:pencil2: fix: typo
  tests/core/nested.object.type.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `cache` set and has
  tests/core/cache.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `getStyleClase` join string array into class string
  tests/core/get.style.class.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `flattenObject` core function
  tests/core/flatten.object.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `deepMerge` core function
  tests/core/deep.merge.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `getTailwindClass` core function
  tests/core/get.tailwind.class.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `getCachedValue` core function
  tests/core/get.cached.value.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `wind` core logic
  tests/wind.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `WindVariants` core type logic
  tests/wind.variants.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `createWind` core logic
  tests/create.wind.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `mergeProps` util
  tests/utils/merge.props.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: `createVariants` util
  tests/utils/create.variants.test.ts
Due: prettier --write, eslint --fix

:recycle: refactor: remove unnecessary initial cache setup tasks at `wind`
  packages/wind.ts
Due: prettier --write, eslint --fix

:wrench: refactor: remove unused args at `rollup.config`
  rollup.config.mjs
Due: none

:wrench: chore: update .npmignore for the package production
  .npmignore
Due: none

:memo: docs: `mergeProps` document
  packages/utils/merge.props.ts
Due: prettier --write, eslint --fix

:package: chore: upgrade typescript `4.8.4` to `4.9.4`
  package.json
  pnpm-lock.yaml
Due: prettier --write

:memo: docs: add document images
  assets/docs.png
  assets/tailwindest.banner.png
Due: none

:memo: docs: add main README
  README.md
Due: prettier --write

:memo: docs: fix wind ts-doc
  packages/wind.ts
Due: prettier --write, eslint --fix

:memo: docs: fix main README
  README.md
Due: prettier --write

:memo: docs: tailwindest api reference test
  docs/api.md
Due: prettier --write

:memo: docs: move assets to images dir
  assets/tailwindest.banner.png
  images/docs.png
  images/tailwindest.banner.png
Due: none

:memo: docs: update main README
  README.md
Due: prettier --write

:memo: docs: add api reference
  docs/api.md
Due: prettier --write
