Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

undefined feat: add arbitrary value at `verticleAlign` property
  packages/tailwindest/src/types/tailwind/properties/font/@vertical.align.ts
Due: prettier --write, eslint --fix

undefined fix: add missing `verticalAlign` property at font type
  packages/tailwindest/src/types/tailwind/properties/font/index.ts
Due: prettier --write, eslint --fix

undefined V2.2.1
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

undefined chore: add private at document site
  site/package.json
Due: prettier --write

:memo: docs: update document link meta order
  site/pages/apis/_meta.json
Due: prettier --write

:memo: docs: update `Tailwindest` generic option document for v2.2.0
  site/pages/apis/Tailwindest.mdx
  site/pages/index.mdx
  site/pages/recipe/customize.mdx
  site/pages/recipe/styling.mdx
  site/pages/setup.mdx
Due: none

:memo: docs: add `ShortTailwindest` api document
  site/pages/apis/ShortTailwindest.mdx
Due: none

:memo: docs: update main for v2.2.1 and add new section
  site/pages/index.mdx
Due: none

:memo: docs: change main subtitle
  site/components/pages/main.tsx
Due: none

:memo: docs: remove v2 release banner
  site/theme.config.tsx
Due: none

:sparkles: feat: add support for `forced-colors` & `*` condition
  scripts/build.class.js
Due: none

:sparkles: feat: add * condition type
  packages/tailwindest/src/types/nest.keys/global.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add borderSpacing customization feature
  packages/tailwindest/src/types/tailwind/properties/tables/@border.spacing.ts
  packages/tailwindest/src/types/tailwind/properties/tables/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: support `size` property
  packages/tailwindest/src/types/tailwind/properties/sizing/@size.ts
Due: prettier --write, eslint --fix

:sparkles: feat: support svh-lvh-dvh property
  packages/tailwindest/src/types/tailwind/properties/sizing/@height.ts
Due: prettier --write, eslint --fix

:sparkles: feat: support extended grid/row template columns property
  packages/tailwindest/src/types/tailwind/properties/flex.grid/@grid.template.ts
Due: prettier --write, eslint --fix

:sparkles: feat: support `text-wrap` property
  packages/tailwindest/src/types/tailwind/properties/font/@text.wrap.ts
  packages/tailwindest/src/types/tailwind/properties/font/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: support `forced-color-adjust` property
  packages/tailwindest/src/types/tailwind/properties/accessibility/@forced.color.adjust.ts
  packages/tailwindest/src/types/tailwind/properties/accessibility/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: support `forced-colors` condition
  packages/tailwindest/src/types/nest.keys/break.ts
Due: prettier --write, eslint --fix

:recycle: refactor: `@width` property
  packages/tailwindest/src/types/tailwind/properties/sizing/@width.ts
Due: prettier --write, eslint --fix

:recycle: refactor: extract plug option interface groups
  packages/tailwindest/src/types/tailwind/plugin/tailwind.plugin.key.ts
  packages/tailwindest/src/types/tailwind/properties/backgrounds/index.ts
  packages/tailwindest/src/types/tailwind/properties/borders/index.ts
  packages/tailwindest/src/types/tailwind/properties/effects/index.ts
  packages/tailwindest/src/types/tailwind/properties/filters/index.ts
  packages/tailwindest/src/types/tailwind/properties/flex.grid/index.ts
  packages/tailwindest/src/types/tailwind/properties/interactivity/index.ts
  packages/tailwindest/src/types/tailwind/properties/layout/index.ts
  packages/tailwindest/src/types/tailwind/properties/sizing/index.ts
  packages/tailwindest/src/types/tailwind/properties/sizing/short/index.ts
  packages/tailwindest/src/types/tailwind/properties/spacing/index.ts
  packages/tailwindest/src/types/tailwind/properties/svg/index.ts
  packages/tailwindest/src/types/tailwind/properties/transforms/index.ts
  packages/tailwindest/src/types/tailwind/properties/transition.animation/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add support for `*`
  packages/tailwindest/src/tailwindest.nest.keys.ts
Due: prettier --write, eslint --fix

:memo: docs: add condition identifier documentation at `Tailwindest`
  packages/tailwindest/src/tailwindest.ts
Due: prettier --write, eslint --fix

:fire: chore: deprecate `ShorTailwindest` type
  packages/tailwindest/src/tailwindest.short.ts
Due: prettier --write, eslint --fix

:bookmark: V2.3.0
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

🐛 add missing word break properties (fixes #103)
  packages/tailwindest/src/types/tailwind/properties/font/index.ts
Due: prettier --write, eslint --fix

🔨 gitmoji is no longer a hidden global dependency
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

:package: chore: change prepublish into test:prepublish for matching contribution guideline
  package.json
Due: prettier --write

:memo: docs: fix typo at tailwindest typeset
  packages/tailwindest/src/tailwindest.ts
Due: prettier --write, eslint --fix

📦️ chore: update deps to latest version
  package.json
  pnpm-lock.yaml
  site/package.json
Due: prettier --write

🔖 V2.3.1
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

🐛 fix: update wrong name for font-style class
  packages/tailwindest/src/types/tailwind/properties/font/@font.style.ts
Due: prettier --write, eslint --fix

🐛 fix: add boolean at `CacheKey`
  packages/tailwindest/src/utils/util.types.ts
Due: prettier --write, eslint --fix

♻️ refactor: integrate styler interface
  packages/tailwindest/src/core/tools/tool.interface.ts
Due: prettier --write, eslint --fix

♻️ refactor: update styler interface with integrated interface
  packages/tailwindest/src/core/tools/create.rotary.ts
  packages/tailwindest/src/core/tools/create.style.ts
  packages/tailwindest/src/core/tools/create.toggle.ts
  packages/tailwindest/src/core/tools/create.variants.ts
Due: prettier --write, eslint --fix

🐛 fix: ts4023 import interface namespace error
  packages/tailwindest/src/create.tools.ts
Due: prettier --write, eslint --fix

✅ fix: test for GetVariants type infer result
  packages/tailwindest/__tests__/get.variants.test.ts
Due: prettier --write, eslint --fix

🔨 chore: update `test.yaml` workflows
  .github/workflows/test.yml
Due: none

📝 docs: update setup script
  site/pages/setup.mdx
Due: none

📝 docs: update main README.md
  README.md
Due: prettier --write
