Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

:memo: docs: add start document sections
  site/pages/1-start/_meta.json
  site/pages/1-start/goals.mdx
  site/pages/1-start/problem.mdx
  site/pages/1-start/setup.mdx
  site/pages/2-learn/_meta.json
Due: prettier --write

:memo: docs: add learning document sections
  site/pages/2-learn/advanced-usage-complex-variants.mdx
  site/pages/2-learn/advanced-usage-create.mdx
  site/pages/2-learn/advanced-usage-customize.mdx
  site/pages/2-learn/advanced-usage-merging-styles.mdx
  site/pages/2-learn/basic-usage-conditional.mdx
  site/pages/2-learn/basic-usage-style.mdx
Due: none

:memo: docs: add usage document sections
  site/pages/3-usage/_meta.json
  site/pages/3-usage/react.mdx
  site/pages/3-usage/svelte.mdx
  site/pages/3-usage/vanilla-js.mdx
  site/pages/3-usage/vue.mdx
Due: prettier --write

:memo: docs: add api document sections
  site/pages/4-apis/Tailwindest.mdx
  site/pages/4-apis/WindVariants.mdx
  site/pages/4-apis/_meta.json
  site/pages/4-apis/createVariants.mdx
  site/pages/4-apis/createWind.mdx
  site/pages/4-apis/mergeProps.mdx
  site/pages/4-apis/wind$.mdx
  site/pages/4-apis/wind.mdx
Due: prettier --write

:wrench: chore: update `.eslintignore`, add `site`
  .eslintignore
Due: none

:memo: docs: simplify main `readme.md`
  README.md
Due: prettier --write

:memo: docs: update main `readme.md`
  README.md
Due: prettier --write

:memo: docs: add `expo` + `nativewind` adoptation example
  examples/expo-nativewind/.gitignore
  examples/expo-nativewind/App.tsx
  examples/expo-nativewind/app.d.ts
  examples/expo-nativewind/app.json
  examples/expo-nativewind/assets/adaptive-icon.png
  examples/expo-nativewind/assets/favicon.png
  examples/expo-nativewind/assets/icon.png
  examples/expo-nativewind/assets/splash.png
  examples/expo-nativewind/babel.config.js
  examples/expo-nativewind/eas.json
  examples/expo-nativewind/package-lock.json
  examples/expo-nativewind/package.json
  examples/expo-nativewind/tailwind.config.js
  examples/expo-nativewind/tsconfig.json
Due: prettier --write, eslint --fix

:memo: docs: add `nextJs` adoptation example
  examples/next/.eslintrc.json
  examples/next/.gitignore
  examples/next/next.config.js
  examples/next/package.json
  examples/next/pnpm-lock.yaml
  examples/next/postcss.config.js
  examples/next/src/app/counter.tsx
  examples/next/src/app/favicon.ico
  examples/next/src/app/globals.css
  examples/next/src/app/layout.tsx
  examples/next/src/app/page.tsx
  examples/next/src/components/index.ts
  examples/next/src/components/theme.button.tsx
  examples/next/tailwind.config.js
  examples/next/tsconfig.json
Due: prettier --write, eslint --fix

:memo: docs: add `svelte`(kit) adoptation example
  examples/svelte/.eslintignore
  examples/svelte/.eslintrc.cjs
  examples/svelte/.gitignore
  examples/svelte/.npmrc
  examples/svelte/.prettierignore
  examples/svelte/.prettierrc
  examples/svelte/package.json
  examples/svelte/pnpm-lock.yaml
  examples/svelte/postcss.config.js
  examples/svelte/src/app.css
  examples/svelte/src/app.d.ts
  examples/svelte/src/app.html
  examples/svelte/src/components/theme.button.svelte
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/+page.svelte
  examples/svelte/src/store/theme.ts
  examples/svelte/static/favicon.png
  examples/svelte/tailwind.config.js
  examples/svelte/tsconfig.json
  examples/svelte/vite.config.ts
Due: prettier --write, eslint --fix

:wrench: chore: add examples folder to `.*ignore`
  .eslintignore
  .prettierignore
Due: none

:sparkles: feat: to make conditional styling easier, create `toggle` util
  packages/utils/toggle.ts
Due: prettier --write, eslint --fix

:recycle: refactor: add generic restriction type to validate `StyleType` in `wind` core function
  packages/wind.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `toggle` and `mergeProps` functions to support argument types
  packages/create.wind.ts
Due: prettier --write, eslint --fix

:sparkles: feat: export `toggle` util and rename generic `T` in `mergeProps`
  packages/utils/index.ts
  packages/utils/merge.props.ts
Due: prettier --write, eslint --fix

:lipstick: style: update code formatting
  packages/utils/create.variants.ts
Due: prettier --write, eslint --fix

:sparkles: feat: export `toggle` util
  packages/index.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: add unit tests for `toggle` util
  tests/create.wind.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: update edge test case for `toggle`
  tests/create.wind.test.ts
Due: prettier --write, eslint --fix

:memo: feat: add `tsdoc` for `toggle` arguments
  packages/utils/toggle.ts
Due: prettier --write, eslint --fix

:memo: docs: update `createWind` docs
  packages/create.wind.ts
Due: prettier --write, eslint --fix

:boom: !BREAKING: remove default export for `wind`, `wind$`, `mergeProps`, `toggle`
  packages/index.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: update test for BREAKING API changes
  tests/utils/create.variants.test.ts
  tests/utils/merge.props.test.ts
  tests/wind.variants.test.ts
Due: prettier --write, eslint --fix

:art: 1.1.0
  package.json
Due: prettier --write

:memo: docs: update main `readme.md`
  README.md
  images/docs.png
  images/tailwindest.banner.png
  images/tailwindest.banner.svg
Due: prettier --write

:wrench: chore: update `.prettierignore`, remove example folder
  .prettierignore
Due: none

:sparkles: feat: update examples for version ^`1.1.0` api changes
  examples/expo-nativewind/App.tsx
  examples/expo-nativewind/package-lock.json
  examples/expo-nativewind/package.json
  examples/next/package.json
  examples/next/pnpm-lock.yaml
  examples/next/src/app/counter.tsx
  examples/next/src/app/layout.tsx
  examples/next/src/components/theme.button.tsx
  examples/next/src/wind.ts
  examples/svelte/package.json
  examples/svelte/pnpm-lock.yaml
  examples/svelte/src/components/theme.button.svelte
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/+page.svelte
  examples/svelte/src/wind.ts
Due: prettier --write, eslint --fix

:memo: docs: update `site` components and update dependencies version
  site/components/common/Button.tsx
  site/components/common/Card.tsx
  site/components/common/Title.tsx
  site/components/common/Underline.tsx
  site/components/pages/main.tsx
  site/components/utils.ts
  site/global.css
  site/package.json
  site/pnpm-lock.yaml
  site/theme.config.tsx
  site/wind.ts
Due: prettier --write, eslint --fix

:memo: docs: update main page
  site/pages/index.mdx
Due: none

:memo: docs: update setup document for version `1.1.0`
  site/pages/1-start/setup.mdx
Due: none

:memo: docs: update goals document
  site/pages/1-start/goals.mdx
Due: none

:memo: docs: update problem document
  site/pages/1-start/problem.mdx
Due: none

feat: add `.github` issue templates for bug and feature-request
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

:memo: docs: update common stylesheet for site
  site/global.css
  site/tailwind.config.js
  site/theme.config.tsx
  site/wind.ts
Due: prettier --write, eslint --fix

:memo: docs: update common components styling
  site/components/common/Button.tsx
  site/components/common/Card.tsx
Due: none

:memo: docs: update main page
  site/components/pages/main.tsx
Due: none
