Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

docs: update packages docs
  README.md
  packages/create-tailwind-type/README.md
  packages/tailwindest/readme.md
Due: prettier --write

refactor: remove logging at cli
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

scripts: update pkg init script
  package.json
Due: prettier --write

release: create-tailwind-type v1.0.1
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

release: tailwindest v3.0.0
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

test: fix hidden store root
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/store/docs.json
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/store/types.d.ts
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
Due: prettier --write, eslint --fix

refactor: add dir and file generation process for writeFile
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

release: create-tailwind-type v1.0.2
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

[ImgBot] Optimize images
  images/create-tailwind-type-banner.png
  images/tailwindest-banner.png
Due: none

fix: import single quote support
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

refactor: add tailwindcss prefix for import checking
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

hotfix: create-tailwind-type v1.0.3
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

fix: missing rotary base style
  packages/tailwindest/src/tools/rotary.ts
Due: prettier --write, eslint --fix

test: update rotary style test suite
  packages/tailwindest/src/tools/__tests__/create_tools.test.ts
Due: prettier --write, eslint --fix

release: tailwindest v3.0.1
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

chore: update deps for tailwindcss
  packages/create-tailwind-type/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: jsdoc plugin resolve error
  packages/create-tailwind-type/src/type_tools/type_generator.ts
Due: prettier --write, eslint --fix

fix: @tailwindcss/node pkg resolve error
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

chore: fix version
  packages/create-tailwind-type/package.json
Due: prettier --write

release: create-tailwind-type 1.0.4
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

test: update tw version to 4.0.9
  packages/create-tailwind-type/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

fix: node modules path for npx
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

refactor: update description for --base option
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

docs: update cli reference
  README.md
  packages/create-tailwind-type/README.md
Due: prettier --write

release: create-tailwind-type 1.0.5
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

fix: disable useNativeCombine for custom plugins property name generation supports
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

release: create-tailwind-type 1.0.6
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

refactor: update site with tailwindest v3
  site/components/common/Button.tsx
  site/components/common/Title.tsx
Due: none

docs: add create-tailwind-type usage examples
  README.md
  packages/create-tailwind-type/README.md
Due: prettier --write

docs: update main readme
  README.md
Due: prettier --write

feat: add `disableVariants` option
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

test: update test generation mode
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
Due: prettier --write, eslint --fix

feat: add `disableVariants` options at cli
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

docs: update api docs
  README.md
  packages/create-tailwind-type/README.md
Due: prettier --write

release: create-tailwind-type 1.0.7
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

docs: update tailwindest main documentation
  README.md
Due: prettier --write

fix: nullable object merge error
  packages/tailwindest/src/tools/styler.ts
Due: prettier --write, eslint --fix

fix: toggle return type
  packages/tailwindest/src/tools/toggle.ts
Due: prettier --write, eslint --fix

docs: add `createTools` documentation for core modules
  packages/tailwindest/src/tools/create_tools.ts
Due: prettier --write, eslint --fix
