Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:recycle: refactor: add generic type restriction
  packages/create.wind.ts
  packages/utils/merge.props.ts
Due: prettier --write, eslint --fix

:recycle: refacotor: combine caching logic
  packages/core/cache.ts
  packages/core/get.cached.value.ts
  packages/core/index.ts
Due: prettier --write, eslint --fix

:recycle: refacotor: remove `getCachedValue`
  packages/utils/create.variants.ts
Due: prettier --write, eslint --fix

:recycle: refactor: `wind` core logics and update name of default variant key
  packages/wind.ts
Due: prettier --write, eslint --fix

:recycle: refactor: update type import
  packages/wind.variants.ts
Due: prettier --write, eslint --fix

:recycle: refactor: `@nest.core` generic type names
  packages/types/tailwindest/@nest.core.ts
Due: prettier --write, eslint --fix

:recycle: refactor: `@nest.basic` and `@nest.extends` generic type names
  packages/types/tailwindest/@nest.basic.ts
  packages/types/tailwindest/@nest.extends.ts
Due: prettier --write, eslint --fix

:zap: refactor: improve performance of tailwindest type
  packages/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: `Tailwindest` generic type names and docs
  packages/tailwindest.ts
Due: prettier --write, eslint --fix

:memo: docs: update `wind` and `wind$` ts-docs
  packages/index.ts
Due: prettier --write, eslint --fix

:pencil2: fix: typo
  packages/types/tailwind.backgrounds/@background.clip.ts
  packages/types/tailwind.plugin.key.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: update `cache` test due to api update
  tests/core/cache.test.ts
  tests/core/get.cached.value.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: update test api and fix typo
  tests/core/get.style.class.test.ts
  tests/create.wind.test.ts
  tests/wind.variants.test.ts
Due: prettier --write, eslint --fix

:wrench: chore: update `package.json`
  package.json
Due: prettier --write

[ImgBot] Optimize images
  images/tailwindest.banner.png
Due: none

:sparkles: feat: supports infinite nesting types
  packages/types/tailwindest/@nest.core.ts
Due: prettier --write, eslint --fix

:package: chore: update rollup familly packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

:bug: fix: rollup build script
  rollup.config.mjs
Due: none

:memo: docs: fix uncorrect description of Tailwindest
  packages/tailwindest.ts
Due: prettier --write, eslint --fix

:hammer: chore: refactor build script
  package.json
  rollup.config.mjs
Due: prettier --write

:pencil2: fix: typo
  tests/label.ts
Due: prettier --write, eslint --fix

:zap: refactor: optimize type performance
  packages/types/tailwindest/@nest.core.ts
Due: prettier --write, eslint --fix

:recycle: refactor: @nest.extends type
  packages/types/tailwindest/@nest.extends.ts
Due: prettier --write, eslint --fix

:pencil2: fix: tailwind type typo
  packages/types/tailwind.accessibility/index.ts
  packages/types/tailwind.borders/@border.color.ts
  packages/types/tailwind.common/@spacing.variants.ts
  packages/types/tailwind.filters/@brigtness.ts
  packages/types/tailwind.filters/index.ts
  packages/types/tailwind.flex.grid/@flex.shrink.ts
  packages/types/tailwind.interactivity/@user.slect.ts
  packages/types/tailwind.interactivity/index.ts
  packages/types/tailwind.layout/@aspect.ratio.ts
  packages/types/tailwind.layout/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: tailwind color type group names
  packages/types/tailwind.common/@color.ts
  packages/types/tailwind.common/@color.variants.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add arbitrary type at tailwind opacity
  packages/types/tailwind.common/@accent.ts
Due: prettier --write, eslint --fix

:sparkles: feat: change opacity to global value
  packages/types/tailwind.effects/@opacity.ts
  packages/types/tailwind.effects/index.ts
  packages/types/tailwind.plugin.key.ts
  packages/types/tailwind.ts
  packages/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: type definition of deepMerge
  packages/core/deep.merge.ts
Due: prettier --write, eslint --fix

:recycle: refactor: remove homogeneous type to avoid error
  js/benchmark/test.js
Due: none

:memo: docs: update `WindVariants` document
  packages/wind.variants.ts
Due: prettier --write, eslint --fix

:recycle: refactor: export package util explicitly
  packages/index.ts
Due: prettier --write, eslint --fix

:memo: docs: replace banner format to svg
  images/tailwindest.banner.png
  images/tailwindest.banner.svg
Due: none

:memo: docs: main README
  README.md
Due: prettier --write

:memo: docs: update api.md
  docs/api.md
Due: prettier --write

:memo: docs: fix crashed banner svg
  images/tailwindest.banner.svg
Due: none

:memo: docs: fix uncorrect banner content
  images/tailwindest.banner.svg
Due: none

[ImgBot] Optimize images
  images/docs.png
  images/tailwindest.banner.svg
Due: none

feat: create security.md
  SECURITY.md
Due: prettier --write

:recycle: refactor: remove unnecessary type calculation
  packages/types/plugin.ts
Due: prettier --write, eslint --fix

:hammer: chore: add typescript checking scripts
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
