Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

docs: add generation option documentation
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

feat: add tailwind arbitrary literal generation
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

test: update test options for generator
  packages/type_gen/src/generator/__tests__/generator.test.ts
Due: prettier --write, eslint --fix

feat: add optional property selection option support
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

docs: update gen doc
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

refactor: remove array value support at tailwind type generation
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

test: add optional testing for generation
  packages/type_gen/src/generator/__tests__/generator.test.ts
Due: prettier --write, eslint --fix

refactor: add arbitrary doc limitation
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

chore: update deps to latest version
  package.json
  packages/type_gen/package.json
  pnpm-lock.yaml
  site/pnpm-lock.yaml
Due: prettier --write

test: update testing result for updated tailwindcss/node version
  packages/type_gen/src/internal/__snapshots__/compiler.test.ts.snap
  packages/type_gen/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

refactor: set reset mode to false for doc generation in script
  packages/type_gen/src/site_extractor/build.mjs
Due: none

fix: exceptional rule store key finding logic
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

refactor: add return type at type gen functions
  packages/type_gen/src/type_tools/types/array.ts
  packages/type_gen/src/type_tools/types/intersection.ts
  packages/type_gen/src/type_tools/types/record.ts
  packages/type_gen/src/type_tools/types/union.ts
Due: prettier --write, eslint --fix

refactor: remove redundant type generation process for arbitrary type and optimize type gen result
  packages/type_gen/src/generator/generator.ts
Due: prettier --write, eslint --fix

remove: unused dir
  packages/cli/__mocks__/config.ts
Due: prettier --write, eslint --fix

chore: update deps for pkg-name
  pnpm-lock.yaml
Due: none

scripts: update ci script, remove format checking process
  .github/workflows/test.yml
Due: none

style: update format
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/readme.md
Due: prettier --write

test: add test case for margin, "space" should not be included
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/collection.ts
Due: prettier --write, eslint --fix

test: fix optimizer with edge case, final fiterout
  packages/create-tailwind-type/src/generator/__tests__/__snapshots__/optimizer.test.ts.snap
  packages/create-tailwind-type/src/generator/__tests__/optimizer.test.ts
Due: prettier --write, eslint --fix

fix: edge case handler for optimization map generation
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

test: update tailwindcss pkg root for updated pkg name
  packages/create-tailwind-type/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

docs: update doc for type gen interface
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

chore: export modules
  packages/create-tailwind-type/src/generator/index.ts
  packages/create-tailwind-type/src/internal/index.ts
Due: prettier --write, eslint --fix

feat: add base cli app
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

chore: add commander package
  packages/create-tailwind-type/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update cli tsconfig to esnext module
  tsconfig.json
Due: prettier --write

move: jsconfig
  packages/create-tailwind-type/src/site_extractor/jsconfig.json
Due: prettier --write

chore: add cli deps
  packages/create-tailwind-type/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update build config
  packages/create-tailwind-type/tsup.config.ts
Due: prettier --write, eslint --fix

refactor: remove compiler base dir default value
  packages/create-tailwind-type/src/internal/compiler.ts
Due: prettier --write, eslint --fix

scripts: update test script for create-tailwind-type
  packages/create-tailwind-type/package.json
Due: prettier --write

refactor: refactor __dirname to esm module and add it in generator
  packages/create-tailwind-type/src/constants/dirname.ts
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

feat: add create-tailwind-type cli
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

refactor: update cli default option values
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

test: update build test config
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
Due: prettier --write, eslint --fix

remove: unused img
  site/public/introduction.tldr
Due: none

remove: v2 legacy core & tools
  packages/tailwindest/src/create.tools.ts
  packages/tailwindest/src/tools/create.merge.props.ts
  packages/tailwindest/src/tools/create.rotary.ts
  packages/tailwindest/src/tools/create.style.ts
  packages/tailwindest/src/tools/create.toggle.ts
  packages/tailwindest/src/tools/create.variants.ts
  packages/tailwindest/src/tools/tool.interface.ts
Due: prettier --write, eslint --fix

remove: unused constants
  packages/tailwindest/src/constants/base.key.ts
  packages/tailwindest/src/constants/index.ts
Due: prettier --write, eslint --fix
