Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

:recycle: Refactor: `bench.manager` class to manage bench process
  js/benchmark/bench.manager.js
Due: none

:recycle: Refactor: replace mock data with updated api and divide it
  js/benchmark/test.js
Due: none

:white_check_mark: Update: rename `iteration` to `bench` and update bench tests
  js/benchmark/bench.js
  js/benchmark/iteration.js
Due: none

:recycle: Refactor: replace main `windCore` compose cache logic with `getCachedValue` function
  packages/index.ts
Due: prettier --write, eslint --fix

:wrench: Update: specify `ouput.dir` at `rollup.config` for `build:watch` script
  rollup.config.mjs
Due: none

:hammer: Update: `build`, `clean`, `bench` script
  package.json
Due: prettier --write

:see_no_evil: Update: add `dist:watch` file at `npmignore` & `.gitignore`
  .gitignore
  .npmignore
Due: none

:label: Update: change tailwindest type import syntax to `import()`
  packages/index.ts
Due: prettier --write, eslint --fix

:package: Add: `rolup-plugin-dts` ^4.2.3 to bundle `.d.ts`
  package.json
  pnpm-lock.yaml
Due: prettier --write

:hammer: Update: add `bundle-type-def` config funtion at `rollup.config` and update type definition source at package.json
  rollup.config.mjs
Due: none

:label: Update: `cache` key type and refactor variable name
  packages/utils/cache.ts
Due: prettier --write, eslint --fix

:recycle: Refactor: `deep.merge` generic type def and remove unnecessary variable declaration to reduce bunle size
  packages/utils/deep.merge.ts
Due: prettier --write, eslint --fix

:recycle: Refactor: `get.tailwindc.class` generic type def
  packages/utils/get.tailwind.class.ts
Due: prettier --write, eslint --fix

:label: Update: `get.cached.value` cache key type
  packages/utils/get.cached.value.ts
Due: prettier --write, eslint --fix

:label: Add: `plugin` utility type
  packages/types/plugin.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.plugin` supported key list
  packages/types/tailwind.plugin.key.ts
Due: prettier --write, eslint --fix

:label: Add: `tailwind.plugin.option` pluggable list and default plugin type
  packages/types/tailwind.plugin.option.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.transition.animation` pluggable type
  packages/types/tailwind.transition.animation/@animation.ts
  packages/types/tailwind.transition.animation/@transition.delay.ts
  packages/types/tailwind.transition.animation/@transition.duration.ts
  packages/types/tailwind.transition.animation/@transition.property.ts
  packages/types/tailwind.transition.animation/@transition.timing.function.ts
  packages/types/tailwind.transition.animation/@transition.ts
  packages/types/tailwind.transition.animation/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.transform` pluggable type
  packages/types/tailwind.transforms/@rotate.ts
  packages/types/tailwind.transforms/@scale.ts
  packages/types/tailwind.transforms/@skew.ts
  packages/types/tailwind.transforms/@transform.origin.ts
  packages/types/tailwind.transforms/@translate.ts
  packages/types/tailwind.transforms/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.table` pluggable type
  packages/types/tailwind.tables/@border.spacing.ts
  packages/types/tailwind.tables/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.svg` pluggable type
  packages/types/tailwind.svg/@fill.ts
  packages/types/tailwind.svg/@stroke.ts
  packages/types/tailwind.svg/@stroke.width.ts
  packages/types/tailwind.svg/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.spacing` pluggable type
  packages/types/tailwind.spacing/@margin.ts
  packages/types/tailwind.spacing/@padding.ts
  packages/types/tailwind.spacing/@space.between.ts
  packages/types/tailwind.spacing/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.sizing` pluggable type
  packages/types/tailwind.sizing/@height.ts
  packages/types/tailwind.sizing/@sizing.variants.ts
  packages/types/tailwind.sizing/@width.ts
  packages/types/tailwind.sizing/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.layout` pluggable type
  packages/types/tailwind.layout/@aspect.ratio.ts
  packages/types/tailwind.layout/@columns.ts
  packages/types/tailwind.layout/@object.position.ts
  packages/types/tailwind.layout/@position.ts
  packages/types/tailwind.layout/@z.index.ts
  packages/types/tailwind.layout/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.interactivity` pluggable type
  packages/types/tailwind.interactivity/@accent.color.ts
  packages/types/tailwind.interactivity/@caret.color.ts
  packages/types/tailwind.interactivity/@cursor.ts
  packages/types/tailwind.interactivity/@scroll.margin.ts
  packages/types/tailwind.interactivity/@scroll.padding.ts
  packages/types/tailwind.interactivity/@will.change.ts
  packages/types/tailwind.interactivity/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.font` pluggable type
  packages/types/tailwind.font/@content.ts
  packages/types/tailwind.font/@font.family.ts
  packages/types/tailwind.font/@font.size.ts
  packages/types/tailwind.font/@font.weight.ts
  packages/types/tailwind.font/@letter.spacing.ts
  packages/types/tailwind.font/@line.height.ts
  packages/types/tailwind.font/@list.style.type.ts
  packages/types/tailwind.font/@text.color.ts
  packages/types/tailwind.font/@text.decoration.color.ts
  packages/types/tailwind.font/@text.decoration.thickness.ts
  packages/types/tailwind.font/@text.indent.ts
  packages/types/tailwind.font/@text.underline.offset.ts
  packages/types/tailwind.font/@word.break.ts
  packages/types/tailwind.font/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.flex.grid` pluggable type
  packages/types/tailwind.flex.grid/@common.gap.ts
  packages/types/tailwind.flex.grid/@common.order.ts
  packages/types/tailwind.flex.grid/@flex.basis.ts
  packages/types/tailwind.flex.grid/@flex.grow.ts
  packages/types/tailwind.flex.grid/@flex.shrink.ts
  packages/types/tailwind.flex.grid/@flex.ts
  packages/types/tailwind.flex.grid/@grid.auto.flow.ts
  packages/types/tailwind.flex.grid/@grid.auto.ts
  packages/types/tailwind.flex.grid/@grid.column.start.end.ts
  packages/types/tailwind.flex.grid/@grid.row.start.end.ts
  packages/types/tailwind.flex.grid/@grid.template.ts
  packages/types/tailwind.flex.grid/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.filters` pluggable type
  packages/types/tailwind.filters/@backdrop.opacity.ts
  packages/types/tailwind.filters/@blur.ts
  packages/types/tailwind.filters/@brigtness.ts
  packages/types/tailwind.filters/@contrast.ts
  packages/types/tailwind.filters/@drop.shadow.ts
  packages/types/tailwind.filters/@grayscale.ts
  packages/types/tailwind.filters/@hue.rotate.ts
  packages/types/tailwind.filters/@invert.ts
  packages/types/tailwind.filters/@saturate.ts
  packages/types/tailwind.filters/@sepia.ts
  packages/types/tailwind.filters/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.effects` pluggable type
  packages/types/tailwind.effects/@box.shadow.color.ts
  packages/types/tailwind.effects/@box.shadow.ts
  packages/types/tailwind.effects/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.borders` pluggable type
  packages/types/tailwind.borders/@border.color.ts
  packages/types/tailwind.borders/@border.radius.ts
  packages/types/tailwind.borders/@border.style.ts
  packages/types/tailwind.borders/@border.ts
  packages/types/tailwind.borders/@border.width.ts
  packages/types/tailwind.borders/@outline.color.ts
  packages/types/tailwind.borders/@outline.offset.ts
  packages/types/tailwind.borders/@outline.ts
  packages/types/tailwind.borders/@ring.color.ts
  packages/types/tailwind.borders/@ring.offset.color.ts
  packages/types/tailwind.borders/@ring.offset.ts
  packages/types/tailwind.borders/@ring.width.ts
  packages/types/tailwind.borders/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.backgrounds` pluggable type
  packages/types/tailwind.backgrounds/@backgroud.color.ts
  packages/types/tailwind.backgrounds/@background.image.ts
  packages/types/tailwind.backgrounds/@background.position.ts
  packages/types/tailwind.backgrounds/@background.size.ts
  packages/types/tailwind.backgrounds/@gradient.color.stops.ts
  packages/types/tailwind.backgrounds/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.color.variants` global pluggable type
  packages/types/tailwind.common/@color.variants.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.accent` global pluggable type
  packages/types/tailwind.common/@accent.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.color` global pluggable type
  packages/types/tailwind.common/@color.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.spacing` global pluggable type
  packages/types/tailwind.common/@spacing.varients.ts
Due: prettier --write, eslint --fix

:sparkles: Update: pluggable `tailwind` typeset
  packages/types/tailwind.ts
Due: prettier --write, eslint --fix

:label: Add: tailwind plugin type bridge
  packages/types/tailwind.plugin.ts
Due: prettier --write, eslint --fix

:sparkles: Update: `tailwindest` nest pluggable type
  packages/types/tailwindest/@nest.basic.ts
  packages/types/tailwindest/@nest.core.ts
  packages/types/tailwindest/@nest.extends.ts
  packages/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:sparkles: Update: adapt plug system and update core type definition, description
  packages/index.ts
Due: prettier --write, eslint --fix

:recycle: Refactor: bench test type definition and bulk data
  js/benchmark/bench.js
  js/benchmark/test.js
Due: none
