Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:hammer: chore: update .ignore files
  .gitignore
  .npmignore
Due: none

Create codeql action
  .github/workflows/codeql.yml
Due: none

:hammer: chore: bundle type def at index.d.ts
  package.json
  rollup.config.mjs
Due: prettier --write

:hammer: chore: update ts script
  package.json
Due: prettier --write

:recycle: refactor: bundleSizePlugin log message
  js/plugin/bundleSizePlugin.js
Due: none

:hammer: chore: add github action for tailwindest
  .github/release-drafter-config.yml
  .github/workflows/bundle-size.yml
  .github/workflows/codeql.yml
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

:rotating_light: fix: eslint import error
  package.json
Due: prettier --write

:package: chore: update `.npmignore`
  .npmignore
Due: none

:hammer: chore: change main branch to master
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
Due: none

:hammer: fix: invalid github action steps
  .github/workflows/npm-publish.yml
Due: none

:hammer: chore: update npm-publish action condition
  .github/workflows/npm-publish.yml
Due: none

:rotating_light: fix: unadded dist in npm package
  .npmignore
Due: none

:memo: docs: update api reference
  docs/api.md
  images/architecture.png
Due: prettier --write

[ImgBot] Optimize images
  images/architecture.png
  images/docs.png
  images/tailwindest.banner.svg
Due: none

Create LICENSE
  LICENSE
Due: none

1.0.1
  package.json
Due: prettier --write

:memo: docs: update main readme api link
  README.md
Due: prettier --write

:ambulance: fix: opacity 100 is not included
  packages/types/tailwind.common/@accent.ts
Due: prettier --write, eslint --fix

1.0.2
  package.json
Due: prettier --write

:hammer: chore: update npm-publish action name
  .github/workflows/npm-publish.yml
Due: none

:ambulance: fix: add reverse direction of zIndex
  packages/types/tailwind.layout/@z.index.ts
Due: prettier --write, eslint --fix

1.0.3
  package.json
Due: prettier --write

:bug: fix: incorrect arbitrary type for nested "content"
  packages/types/tailwind.font/@content.ts
Due: prettier --write, eslint --fix

:bug: fix: remove `-z-auto` at zIndex
  packages/types/tailwind.layout/@z.index.ts
Due: prettier --write, eslint --fix

:memo: docs: fix incorrect content doumentaion
  packages/types/tailwind.font/@content.ts
Due: prettier --write, eslint --fix

:memo: docs: update main README.md for starters
  README.md
Due: prettier --write

1.0.4
  package.json
Due: prettier --write

:memo: fix: banner image typo error
  images/tailwindest.banner.svg
Due: none

:bug: fix: remove invalid property at `border-width`, removing unit 6
  packages/types/tailwind.borders/@border.width.ts
Due: prettier --write, eslint --fix

Delete bundle-size.yml
  .github/workflows/bundle-size.yml
Due: none

:art: 1.0.5
  package.json
Due: prettier --write

:wrench: chore: update `.gitignore`
  site/.gitignore
Due: none

:package: docs: setup documentation site packages
  site/package.json
  site/pnpm-lock.yaml
Due: prettier --write

:wrench: docs: setup documentation site packages configuration
  site/global.css
  site/next-env.d.ts
  site/next.config.mjs
  site/postcss.config.js
  site/tailwind.config.js
  site/theme.config.tsx
  site/tsconfig.json
Due: prettier --write, eslint --fix

:sparkles: docs: add base `next` elements
  site/pages/_app.mdx
  site/pages/_document.tsx
Due: none

:sparkles: docs: add common components for document site
  site/components/common/Button.tsx
  site/components/common/Card.tsx
  site/components/common/Example.tsx
  site/components/common/Title.tsx
  site/components/common/Underline.tsx
  site/components/common/index.ts
Due: prettier --write, eslint --fix

:sparkles: docs: add style utils
  site/components/utils.ts
Due: prettier --write, eslint --fix

:memo: docs: add assets for document site
  site/public/favicon.png
  site/public/favicon.svg
  site/public/images/tailwindest.type.png
Due: none

:memo: docs: add main documentation page
  site/components/pages/index.ts
  site/components/pages/main.tsx
  site/pages/404.mdx
  site/pages/_meta.json
  site/pages/index.mdx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
