Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

docs: describe generated TailwindLiteral output files
  packages/create-tailwind-type/README.md
  packages/tailwindest/readme.md
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/setup.mdx
Due: prettier --write

docs: update API examples for generated TailwindLiteral usage
  web/content/docs/apis/createtailwindest.mdx
  web/content/docs/apis/createtailwindliteral.mdx
  web/content/docs/apis/createtools.mdx
  web/content/docs/css-transformer.mdx
Due: none

docs(compiler): align terminology around compiler-oriented nesting
  docs/plans/2026-04-30-runtime-compiler-normalizer-boundary.md
  docs/plans/2026-04-30-tailwindest-core-engine-extraction.md
  packages/tailwindest-compiler/README.md
  packages/tailwindest-compiler/docs/ARCHITECTURE.md
Due: prettier --write

chore(release): version packages
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

feat(create-tailwind-type): add tailwind literal generation fixtures
  packages/create-tailwind-type/README.md
  packages/create-tailwind-type/src/cli.ts
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

feat(tailwindest): align runtime type checks with raw nested literals
  packages/tailwindest/readme.md
  packages/tailwindest/src/__tests__/create_tailwindest.test.ts
  packages/tailwindest/src/create_tailwindest.ts
  packages/tailwindest/src/types/core.ts
  packages/tailwindest/tailwind.2.ts
  packages/tailwindest/tailwind.ts
Due: prettier --write, eslint --fix

docs: sync usage docs with latest class literal workflow
  web/content/docs/apis/createtailwindest.mdx
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/css-transformer.mdx
  web/content/docs/setup.mdx
Due: none

chore(release): version packages
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

fix(tailwindest): fix ts infirnite recursion error for arbitrary nested group variant
  packages/tailwindest/src/__tests__/create_tailwindest.test.ts
  packages/tailwindest/src/create_tailwindest.ts
Due: prettier --write, eslint --fix

docs: sync tailwindest updates
  packages/tailwindest/readme.md
  web/content/docs/apis/createtailwindest.mdx
  web/content/docs/setup.mdx
Due: prettier --write

chore(release): version packages
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

test(runtime): document class merge contract
  packages/tailwindest-core/src/__tests__/runtime_parity.test.ts
  packages/tailwindest/src/tools/__tests__/merger_interface.test.ts
Due: prettier --write, eslint --fix

feat(css-transformer): add lossless token plan
  packages/css-transformer/src/analyzer/token_analyzer.ts
  packages/css-transformer/src/types/index.ts
  packages/css-transformer/tests/analyzer/token_analyzer.test.ts
Due: prettier --write, eslint --fix

fix(css-transformer): preserve plain class tokens
  packages/css-transformer/src/walkers/classname_walker.ts
  packages/css-transformer/src/walkers/cn_walker.ts
  packages/css-transformer/src/walkers/utils/class_literal.ts
  packages/css-transformer/src/walkers/utils/class_source_serializer.ts
  packages/css-transformer/tests/walkers/classname_walker.test.ts
  packages/css-transformer/tests/walkers/cn_walker.test.ts
Due: prettier --write, eslint --fix

fix(css-transformer): preserve cva class tokens
  packages/css-transformer/src/walkers/cva_walker.ts
  packages/css-transformer/tests/walkers/cva_walker.test.ts
Due: prettier --write, eslint --fix

test(css-transformer): enforce registry class preservation
  packages/css-transformer/tests/e2e/shadcn_class_preservation.test.ts
  packages/css-transformer/tests/e2e/shadcn_class_stability.test.ts
  packages/css-transformer/tests/e2e/shadcn_registry_helpers.ts
  packages/css-transformer/tests/fixtures/edge_unresolvable/expected.tsx
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_accordion_accordion.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_alert-dialog_alert-dialog.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_calendar_calendar.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_checkbox_checkbox.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_context-menu_context-menu.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_dialog_dialog.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_dropdown-menu_dropdown-menu.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_hover-card_hover-card.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_menubar_menubar.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_navigation-menu_navigation-menu.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_popover_popover.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_select_select.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_sheet_sheet.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_sidebar_sidebar.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_sonner_sonner.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_switch_switch.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_toast_toast.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_tooltip_tooltip.txt
Due: prettier --write, eslint --fix

docs(css-transformer): document preservation correction
  docs/css-transformer-correction/CSS_TRANFORMER_CORRECTION_STRATEGY.md
  docs/css-transformer-correction/checkpoint_01_runtime-contract.md
  docs/css-transformer-correction/checkpoint_02_plain-walkers.md
  docs/css-transformer-correction/checkpoint_03_final-registry.md
  docs/css-transformer-correction/task_01_runtime-contract.md
  docs/css-transformer-correction/task_02_lossless-analyzer-plan.md
  docs/css-transformer-correction/task_03_plain-walkers-token-preservation.md
  docs/css-transformer-correction/task_04_cva-token-preservation.md
  docs/css-transformer-correction/task_05_registry-preservation-hardening.md
  docs/css-transformer-correction/valid_01_runtime-contract.md
  docs/css-transformer-correction/valid_02_lossless-analyzer-plan.md
  docs/css-transformer-correction/valid_03_plain-walkers-token-preservation.md
  docs/css-transformer-correction/valid_04_cva-token-preservation.md
  docs/css-transformer-correction/valid_05_registry-preservation-hardening.md
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/README.md
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_analyzer.md
  packages/css-transformer/docs/details_testing.md
  packages/css-transformer/docs/details_walker.md
  web/content/docs/css-transformer.mdx
Due: prettier --write

fix(css-transformer): satisfy registry helper types
  packages/css-transformer/tests/e2e/shadcn_registry_helpers.ts
Due: prettier --write, eslint --fix

chore(release): add css transformer changeset
  .changeset/smooth-css-transformer-preservation.md
Due: prettier --write

chore(release): version css transformer
  .changeset/smooth-css-transformer-preservation.md
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
Due: prettier --write

fix(css-transformer): type-safe shadcn output
  packages/create-tailwind-type/src/generator/__tests__/css_property_resolver.test.ts
  packages/create-tailwind-type/src/generator/css_property_resolver.ts
  packages/css-transformer/src/analyzer/token_analyzer.ts
  packages/css-transformer/tests/analyzer/token_analyzer.test.ts
  packages/css-transformer/tests/e2e/shadcn_registry_typecheck.test.ts
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_calendar_calendar.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_sidebar_sidebar.txt
  packages/css-transformer/tests/fixtures/shadcn_registry/expected_toast_toast.txt
  packages/css-transformer/tests/walkers/cn_walker.test.ts
  packages/css-transformer/tests/walkers/cva_walker.test.ts
  packages/tailwindest/src/tools/__tests__/get_variants.test.ts
  packages/tailwindest/src/tools/get_variants.ts
  packages/tailwindest/src/tools/variants.ts
Due: prettier --write, eslint --fix
