Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add logger for cli
  packages/type_gen/src/logger/index.ts
Due: prettier --write, eslint --fix

test: add bulk test for cli
  packages/type_gen/src/logger/__tests__/index.test.ts
Due: prettier --write, eslint --fix

chore: add build config for tsup
  packages/type_gen/tsup.config.ts
Due: prettier --write, eslint --fix

test: add test mock files for tailwindv4
  packages/type_gen/src/internal/__mocks__/tailwind.css
  packages/type_gen/src/internal/__mocks__/utilities.css
Due: none

feat: add type generation tool
  packages/type_gen/src/type_tools/types/type.ts
Due: prettier --write, eslint --fix

feat: add generic injector
  packages/type_gen/src/type_tools/types/to.generic.type.string.ts
Due: prettier --write, eslint --fix

feat: add primtive type generator
  packages/type_gen/src/type_tools/types/primitives.ts
Due: prettier --write, eslint --fix

feat: add generic type generator
  packages/type_gen/src/type_tools/types/generic.ts
Due: prettier --write, eslint --fix

feat: add array type generator
  packages/type_gen/src/type_tools/types/array.ts
Due: prettier --write, eslint --fix

feat: add intersection type generator
  packages/type_gen/src/type_tools/types/intersection.ts
Due: prettier --write, eslint --fix

feat: add union type generator
  packages/type_gen/src/type_tools/types/union.ts
Due: prettier --write, eslint --fix

feat: add record type generator
  packages/type_gen/src/type_tools/types/record.ts
Due: prettier --write, eslint --fix

feat: add generic symbol collector
  packages/type_gen/src/type_tools/types/get.generic.ts
Due: prettier --write, eslint --fix

feat: add type generator abstract class and impl
  packages/type_gen/src/type_tools/generator.ts
Due: prettier --write, eslint --fix

feat: add interface keyword support for record type
  packages/type_gen/src/type_tools/types/record.ts
Due: prettier --write, eslint --fix

chore: export type tool modules
  packages/type_gen/src/type_tools/index.ts
  packages/type_gen/src/type_tools/types/index.ts
Due: prettier --write, eslint --fix

test: add type tool module type generation test
  packages/type_gen/src/type_tools/generator.test.ts
Due: prettier --write, eslint --fix

feat: add tailwind internal compilation class
  packages/type_gen/src/internal/compiler.ts
Due: prettier --write, eslint --fix

test: add tailwind compilation class validation
  packages/type_gen/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

feat: add tailwind compilation snapshot
  packages/type_gen/src/internal/__snapshots__/compiler.test.ts.snap
Due: none

feat: add css analyzer
  packages/type_gen/src/type_gen/css_analyzer.ts
Due: prettier --write, eslint --fix

test: add css analyzer test suites
  packages/type_gen/src/type_gen/css_analyzer.test.ts
Due: prettier --write, eslint --fix

feat: add site extractor file util func
  packages/type_gen/src/site_extractor/util/fs.mjs
Due: none

feat: add site extractor constant token
  packages/type_gen/src/site_extractor/constant.mjs
Due: none

feat: add JSDom based static site parsing logic, scraper
  packages/type_gen/src/site_extractor/scraper.mjs
Due: none

feat: add classname LCP calculation fuc
  packages/type_gen/src/site_extractor/docs/lcp_class.mjs
Due: none

test: add classname lcp test suite
  packages/type_gen/src/site_extractor/docs/lcp_class.test.js
Due: none

feat: add doc generator
  packages/type_gen/src/site_extractor/docs/doc_generator.mjs
Due: none

feat: add type generator
  packages/type_gen/src/site_extractor/types/type_generator.mjs
Due: none

feat: add doc generator main script
  packages/type_gen/src/site_extractor/docs/main.mjs
Due: none

feat: add type generator main script
  packages/type_gen/src/site_extractor/types/main.mjs
Due: none

feat: add build script for preparing generation process
  packages/type_gen/src/site_extractor/build.mjs
Due: none

refactor: change store root to dist
  packages/type_gen/src/site_extractor/constant.mjs
Due: none

refactor: change store preparation config
  packages/type_gen/src/site_extractor/build.mjs
Due: none

chore: add prepare script for type_gen package
  packages/type_gen/package.json
Due: prettier --write

chore: export type module
  packages/type_gen/src/type_tools/types/index.ts
Due: prettier --write, eslint --fix

test: add test case for complicated literal type composition
  packages/type_gen/src/type_tools/generator.test.ts
Due: prettier --write, eslint --fix

move: css analyzer test files
  packages/type_gen/src/type_gen/__tests__/css_analyzer.test.ts
Due: prettier --write, eslint --fix

test: add css mock
  packages/type_gen/src/type_gen/__tests__/__mocks__/tailwind.css
Due: none

refactor: add export field support at type
  packages/type_gen/src/type_tools/types/type.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
