Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(tailwindest): expose compiled tailwindest creation and typed fixtures
  packages/tailwindest/src/__tests__/create_compiled_tailwindest.type-test.ts
  packages/tailwindest/src/__tests__/design_system_compiled_tailwindest.type-test.ts
  packages/tailwindest/src/create_compiled_tailwindest.ts
  packages/tailwindest/src/index.ts
Due: prettier --write, eslint --fix

docs(web): remove deprecated compiler api docs and update transformer docs
  web/content/docs/apis/createcompiledtailwindest.mdx
  web/content/docs/apis/meta.json
  web/content/docs/compiler.mdx
  web/content/docs/create-tailwind-type.mdx
  web/content/docs/css-transformer.mdx
  web/content/docs/index.mdx
  web/content/docs/meta.json
Due: prettier --write

feat(css-transformer): enforce runtime-only output mode resolution
  packages/css-transformer/src/cli.ts
  packages/css-transformer/src/context/output_mode.ts
  packages/css-transformer/src/context/transformer_context.ts
  packages/css-transformer/src/index.ts
  packages/css-transformer/tests/context/output_mode.test.ts
  packages/css-transformer/tests/registry/transformer_registry.test.ts
Due: prettier --write, eslint --fix

refactor(css-transformer): simplify analyzer object tree to runtime leaf semantics
  packages/css-transformer/src/analyzer/token_analyzer.ts
  packages/css-transformer/tests/analyzer/token_analyzer.test.ts
Due: prettier --write, eslint --fix

feat(css-transformer): preserve nested runtime variant leaves in walkers
  packages/css-transformer/src/walkers/classname_walker.ts
  packages/css-transformer/src/walkers/cn_walker.ts
  packages/css-transformer/src/walkers/cva_walker.ts
  packages/css-transformer/tests/walkers/classname_walker.test.ts
  packages/css-transformer/tests/walkers/cn_walker.test.ts
  packages/css-transformer/tests/walkers/cva_walker.test.ts
Due: prettier --write, eslint --fix

docs(css-transformer): document runtime-only output mode and drop compiled strategy plan
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_analyzer.md
  packages/css-transformer/docs/details_output_mode.md
  packages/css-transformer/docs/details_plan.md
  packages/css-transformer/docs/details_resolver.md
  packages/css-transformer/docs/details_testing.md
  packages/css-transformer/docs/details_walker.md
  packages/css-transformer/docs/discussion.md
  packages/css-transformer/docs/plans/compiled_output_mode_strategy.md
Due: prettier --write

test: stabilize parity e2e target element reads
  packages/tailwindest-compiler/e2e/design-system/shared/design_system_types.ts
  packages/tailwindest-compiler/e2e/shared/framework_harness.ts
  packages/tailwindest-compiler/e2e/tanstack-start-tailwind-v4/src/tailwindest-parity-fixture.tsx
  packages/tailwindest/src/index.ts
Due: prettier --write, eslint --fix

chore(version): release create-tailwind-type@1.1.0
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write

chore(version): release @tailwindest/core@1.0.0
  packages/tailwindest-core/CHANGELOG.md
  packages/tailwindest-core/package.json
Due: prettier --write

chore(version): release @tailwindest/tailwind-internal@1.0.0
  packages/tailwind-internal/CHANGELOG.md
  packages/tailwind-internal/package.json
Due: prettier --write

chore(version): release @tailwindest/css-transformer@1.0.0
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
Due: prettier --write

chore(version): release @tailwindest/compiler@1.0.0
  packages/tailwindest-compiler/CHANGELOG.md
  packages/tailwindest-compiler/package.json
Due: prettier --write

chore(version): release tailwindest@3.2.3
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

chore: mark internal packages private and adjust tsup externals
  .prettierignore
  packages/tailwind-internal/package.json
  packages/tailwindest-compiler/tsup.config.ts
  packages/tailwindest-core/package.json
  packages/tailwindest/tsup.config.ts
Due: prettier --write, eslint --fix

chore(version): release tailwindest@3.2.4
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

docs: update main doc
  README.md
Due: prettier --write

chore(ci): build before typecheck in test:ci
  package.json
Due: prettier --write

[ImgBot] Optimize images
  images/tailwind-transform.png
  images/tailwindest-compiler.png
  web/public/images/tailwind-transform.png
  web/public/images/tailwindest-compiler.png
Due: none

chore(version): release create-tailwind-type@1.1.1
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
  packages/create-tailwind-type/tsup.config.ts
  packages/create-tailwind-type/vitest.config.ts
Due: prettier --write, eslint --fix

chore(version): release tailwindest-css-transform@1.0.1
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/README.md
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_plan.md
  packages/css-transformer/docs/discussion.md
  packages/css-transformer/docs/planes_1_resolver.md
  packages/css-transformer/docs/planes_2_analyzer.md
  packages/css-transformer/docs/planes_3_walker.md
  packages/css-transformer/docs/plans/review_1_resolver.md
  packages/css-transformer/docs/plans/review_2_analyzer.md
  packages/css-transformer/docs/plans/review_3_walker.md
  packages/css-transformer/docs/plans/review_4_shadcn.md
  packages/css-transformer/package.json
  web/content/docs/css-transformer.mdx
Due: prettier --write

chore(version): release tailwindest@3.2.5
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
  packages/tailwindest/tsconfig.build.json
  packages/tailwindest/tsup.config.ts
Due: prettier --write, eslint --fix

chore(version): release tailwindest-css-transform@1.0.2
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
Due: prettier --write

chore: mark web private and set publish access to public
  .changeset/config.json
  web/package.json
Due: prettier --write

fix: publish tailwind internal package
  packages/tailwind-internal/package.json
Due: prettier --write

feat: unscope tailwindest tailwind internal package name
  packages/create-tailwind-type/package.json
  packages/create-tailwind-type/src/__tests__/cli_discovery.test.ts
  packages/create-tailwind-type/src/cli.ts
  packages/create-tailwind-type/src/generator/__tests__/css_property_resolver.test.ts
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/create-tailwind-type/src/generator/generator.ts
  packages/create-tailwind-type/src/index.ts
  packages/create-tailwind-type/src/internal/__tests__/discovery.test.ts
  packages/create-tailwind-type/src/internal/compiler.test.ts
  packages/create-tailwind-type/src/internal/index.ts
  packages/create-tailwind-type/tsup.config.ts
  packages/tailwind-internal/package.json
  packages/tailwindest-compiler/package.json
  packages/tailwindest-compiler/src/index.ts
  packages/tailwindest-compiler/src/vite/context.ts
  packages/tailwindest-compiler/tsconfig.build.json
  packages/tailwindest-compiler/vitest.config.ts
Due: prettier --write, eslint --fix

chore: unscope core package name references
  packages/tailwindest-compiler/CHANGELOG.md
  packages/tailwindest-compiler/docs/ARCHITECTURE.md
  packages/tailwindest-compiler/docs/details_plan.md
  packages/tailwindest-compiler/e2e/design-system-next/tsconfig.json
  packages/tailwindest-compiler/e2e/design-system-tanstack-start/vite.config.ts
  packages/tailwindest-compiler/e2e/design-system-vite/vite.config.ts
  packages/tailwindest-compiler/e2e/next-tailwind-v4/tsconfig.json
  packages/tailwindest-compiler/e2e/tanstack-start-tailwind-v4/vite.config.ts
  packages/tailwindest-compiler/e2e/vite-tailwind-v4/vite.config.ts
  packages/tailwindest-compiler/package.json
  packages/tailwindest-compiler/src/core/evaluator.ts
  packages/tailwindest-compiler/src/core/styler_model.ts
  packages/tailwindest-compiler/tsconfig.build.json
  packages/tailwindest-compiler/vitest.config.ts
  packages/tailwindest-core/CHANGELOG.md
  packages/tailwindest-core/package.json
  packages/tailwindest-core/src/__tests__/runtime_parity.test.ts
  packages/tailwindest-core/vitest.config.ts
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
  packages/tailwindest/src/tools/primitive.ts
  packages/tailwindest/src/tools/style_normalizer.ts
  packages/tailwindest/src/tools/styler.ts
  packages/tailwindest/src/tools/to_class.ts
  packages/tailwindest/tsup.config.ts
Due: prettier --write, eslint --fix

chore: make internal packages publishable with dist-only artifacts
  packages/tailwind-internal/package.json
  packages/tailwindest-core/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: exclude tailwindest compiler from changesets
  .changeset/config.json
Due: prettier --write

chore(version): bump packages for internal dependency fix
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
  packages/tailwind-internal/CHANGELOG.md
  packages/tailwind-internal/package.json
  packages/tailwindest-core/CHANGELOG.md
  packages/tailwindest-core/package.json
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

fix: stabilize CLI production build entry points
  packages/create-tailwind-type/package.json
  packages/create-tailwind-type/src/constants/dirname.ts
  packages/create-tailwind-type/tsup.config.ts
  packages/css-transformer/package.json
  packages/css-transformer/tsup.config.ts
Due: prettier --write, eslint --fix

chore(version): add changeset for CLI production entrypoint fix
  .changeset/fifty-dogs-sit.md
Due: prettier --write

fix: harden create-tailwind-type internal resolution for CJS
  .changeset/quiet-apes-wave.md
  packages/tailwind-internal/src/resolution.ts
Due: prettier --write, eslint --fix

chore: harden CLI publish verification
  packages/create-tailwind-type/package.json
  packages/css-transformer/package.json
Due: prettier --write

chore: finalize publish hardening (versions: create-tailwind-type 1.1.3, tailwindest-css-transform 1.0.4)
  .changeset/fifty-dogs-sit.md
  .changeset/quiet-apes-wave.md
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
  packages/create-tailwind-type/tsup.config.ts
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
  packages/css-transformer/tsup.config.ts
  packages/tailwind-internal/CHANGELOG.md
  packages/tailwind-internal/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(css-transformer): auto-discover cli defaults
  docs/plans/2026-05-06-css-transformer-cli-auto-discovery.md
  packages/css-transformer/README.md
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/src/cli.ts
  packages/css-transformer/src/cli/auto_discovery.ts
  packages/css-transformer/tests/cli/auto_discovery.test.ts
  packages/css-transformer/tests/cli/cli_behavior.test.ts
  web/content/docs/css-transformer.mdx
Due: prettier --write, eslint --fix

chore(version): release tailwindest-css-transform@1.0.6
  packages/css-transformer/CHANGELOG.md
  packages/css-transformer/package.json
Due: prettier --write

feat(create-tailwind-type): emit precomputed TailwindLiteral file
  packages/create-tailwind-type/package.json
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/create-tailwind-type/src/generator/generator.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor(tailwindest): remove CreateCompiledTailwindest from public runtime API
  packages/tailwindest/src/__tests__/create_compiled_tailwindest.type-test.ts
  packages/tailwindest/src/__tests__/design_system_compiled_tailwindest.type-test.ts
  packages/tailwindest/src/create_compiled_tailwindest.ts
  packages/tailwindest/src/create_tailwindest.ts
  packages/tailwindest/src/index.ts
  packages/tailwindest/src/tools/create_tools.ts
Due: prettier --write, eslint --fix

test(compiler-e2e): switch fixtures to raw compiler-oriented nested styles
  packages/tailwindest-compiler/e2e/DESIGN_SYSTEM_E2E_TESTING_SPEC.md
  packages/tailwindest-compiler/e2e/FRAMEWORK_PARITY_SPEC.md
  packages/tailwindest-compiler/e2e/design-system/shared/design_system_types.ts
  packages/tailwindest-compiler/e2e/tanstack-start-tailwind-v4/src/tailwindest-parity-fixture.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
