Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:memo: fix: incorrect documentation at `tailwindest.ts`
  packages/tailwindest.ts
Due: prettier --write, eslint --fix

:package: chore: update site tsconfig, change compile target to ESNext
  site/tsconfig.json
Due: prettier --write

:memo: docs: update tailwindest to v2 at site
  site/global.css
  site/wind.props.d.ts
  site/wind.ts
Due: prettier --write, eslint --fix

:memo: docs: update site common components to improve document
  site/components/common/Button.tsx
  site/components/common/Card.tsx
  site/components/common/Code.tsx
  site/components/common/CodeCompletion.tsx
  site/components/common/Divider.tsx
  site/components/common/Title.tsx
  site/components/common/Underline.tsx
  site/components/common/index.ts
  site/components/pages/main.tsx
  site/components/utils.ts
  site/pages/_app.mdx
Due: prettier --write, eslint --fix

:memo: docs: update site meta infos and banner
  site/theme.config.tsx
Due: none

:memo: docs: update documentation to version 2
  site/pages/1_start/conditional.svg
  site/pages/1_start/goals.mdx
  site/pages/1_start/introduction.mdx
  site/pages/1_start/introduction.tldr
  site/pages/2_setup.mdx
  site/pages/3_learn/conditional-styling.mdx
  site/pages/5_apis/WindVariants.mdx
  site/pages/5_apis/_meta.json
  site/pages/5_apis/createVariants.mdx
  site/pages/5_apis/createWind.mdx
  site/pages/5_apis/toggle.mdx
  site/pages/5_apis/wind$.mdx
  site/pages/5_apis/wind.mdx
  site/pages/_meta.json
  site/pages/apis/GetVariants.mdx
  site/pages/apis/Tailwindest.mdx
  site/pages/apis/_meta.json
  site/pages/apis/createTools.mdx
  site/pages/apis/mergeProps.mdx
  site/pages/apis/rotary.mdx
  site/pages/apis/style.mdx
  site/pages/apis/toggle.mdx
  site/pages/apis/variants.mdx
  site/pages/examples/_meta.json
  site/pages/examples/nativewind.mdx
  site/pages/examples/next.mdx
  site/pages/examples/svelte.mdx
  site/pages/index.mdx
  site/pages/recipe/_meta.json
  site/pages/recipe/conditional-styling.mdx
  site/pages/recipe/customize.mdx
  site/pages/recipe/styling.mdx
  site/pages/recipe/utility.mdx
  site/pages/setup.mdx
  site/pages/start/_meta.json
  site/pages/start/drawbacks.mdx
  site/pages/start/goals.mdx
  site/pages/start/introduction.mdx
  site/pages/start/overview.mdx
Due: prettier --write

:package: chore: update package.json description and version
  package.json
Due: prettier --write

:sparkles: docs: update examples to version 2
  docs/api.md
  examples/expo-nativewind/App.tsx
  examples/expo-nativewind/package-lock.json
  examples/expo-nativewind/package.json
  examples/expo-nativewind/tw.ts
  examples/next/package.json
  examples/next/pnpm-lock.yaml
  examples/next/src/app/counter.tsx
  examples/next/src/app/layout.tsx
  examples/next/src/components/theme.button.tsx
  examples/next/src/tw.ts
  examples/next/src/wind.ts
  examples/svelte/package.json
  examples/svelte/pnpm-lock.yaml
  examples/svelte/src/components/theme.button.svelte
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/+page.svelte
  examples/svelte/src/tw.ts
  examples/svelte/src/wind.ts
  images/architecture.png
  site/package.json
  site/pnpm-lock.yaml
Due: prettier --write, eslint --fix

:bug: fix: incorrect `skew` property by removing `TailwindSpacing` type
  packages/types/tailwind.transforms/index.ts
Due: prettier --write, eslint --fix

:art: 2.0.1
  package.json
Due: prettier --write

:sparkles: feat: activate vercel analytics
  site/package.json
  site/pages/_app.mdx
  site/pnpm-lock.yaml
Due: prettier --write

:sparkles: feat: add short-handed types
  packages/types/tailwind.backgrounds/short/@background.attachment.short.ts
  packages/types/tailwind.backgrounds/short/@background.clip.short.ts
  packages/types/tailwind.backgrounds/short/@background.color.short.ts
  packages/types/tailwind.backgrounds/short/@background.origin.short.ts
  packages/types/tailwind.backgrounds/short/@background.position.short.ts
  packages/types/tailwind.backgrounds/short/@background.repeat.short.ts
  packages/types/tailwind.backgrounds/short/@background.size.short.ts
  packages/types/tailwind.backgrounds/short/index.ts
  packages/types/tailwind.borders/@outline.width.ts
  packages/types/tailwind.borders/@ring.offset.width.ts
  packages/types/tailwind.borders/index.ts
  packages/types/tailwind.borders/short/@border.color.short.ts
  packages/types/tailwind.borders/short/@border.radius.short.ts
  packages/types/tailwind.borders/short/@border.width.short.ts
  packages/types/tailwind.borders/short/@outline.color.short.ts
  packages/types/tailwind.borders/short/@outline.width.short.ts
  packages/types/tailwind.borders/short/@ring.color.short.ts
  packages/types/tailwind.borders/short/@ring.offset.color.short.ts
  packages/types/tailwind.borders/short/@ring.offset.width.short.ts
  packages/types/tailwind.borders/short/@ring.width.short.ts
  packages/types/tailwind.borders/short/index.ts
  packages/types/tailwind.effects/short/@background.blend.mode.short.ts
  packages/types/tailwind.effects/short/index.ts
  packages/types/tailwind.interactivity/@user.select.ts
  packages/types/tailwind.interactivity/index.ts
  packages/types/tailwind.interactivity/short/@accent.color.short.ts
  packages/types/tailwind.interactivity/short/@caret.color.short.ts
  packages/types/tailwind.interactivity/short/@scroll.margin.short.ts
  packages/types/tailwind.interactivity/short/@scroll.padding.short.ts
  packages/types/tailwind.interactivity/short/index.ts
  packages/types/tailwind.nested/@basic.short.ts
  packages/types/tailwind.sizing/short/@height.short.ts
  packages/types/tailwind.sizing/short/@width.short.ts
  packages/types/tailwind.sizing/short/index.ts
  packages/types/tailwind.spacing/short/@margin.short.ts
  packages/types/tailwind.spacing/short/@padding.short.ts
  packages/types/tailwind.spacing/short/index.ts
  packages/types/tailwind.svg/short/@stroke.width.short.ts
  packages/types/tailwind.svg/short/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add core types for short-handed `tailwindest`
  packages/types/tailwindest/@nest.core.ts
  packages/types/tailwindest/short/@nest.basic.short.ts
  packages/types/tailwindest/short/@nest.extends.short.ts
  packages/types/tailwindest/short/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `ShortTailwindest` type
  packages/index.ts
  packages/tailwindest.short.ts
  packages/types/plugin.nest.ts
  packages/types/tailwind.plugin.ts
  packages/types/tailwind.short.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add short-handed nest condition build script
  js/jsconfig.json
  js/scripts/extract.js
Due: prettier --write

:recycle: refactor: jsdoc for short-handed version
  packages/create.tools.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add code snippets for automation
  .vscode/tailwind.code-snippets
Due: none

:sparkles: feat: add util type to get transformed object key type
  packages/utils/util.types.ts
Due: prettier --write, eslint --fix

:recycle: refactor: deleted the `string` constraint on the `StyleGeneratorRotary` key type
  packages/core/tools/tool.interface.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add `reset` method to reset store
  packages/core/cache.ts
Due: prettier --write, eslint --fix

:sparkles: feat: added support for `boolean` and `number` types for `rotary` using the `GetVariantsKey` utility type. Also fixed an error that did not reflect the latest base style sheet
  packages/core/tools/create.rotary.ts
Due: prettier --write, eslint --fix

:sparkles: feat: added support for `boolean` and `number` types for `variants` using the `GetVariantsKey` utility type. Also fixed an error that did not reflect the latest base style sheet
  packages/core/tools/create.variants.ts
Due: prettier --write, eslint --fix

:memo: docs: update `variants` js-doc description for `boolean` feature
  packages/create.tools.ts
Due: prettier --write, eslint --fix

:memo: docs: update `GetVariants` js-doc description for `boolean` feature at `rotary`, `variants`
  packages/get.variants.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: add test case for `boolean` variants and fix failed `compose` tests
  tests/create.tools.test.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: add test case for `boolean` | `number` | `never` for `GetVariants`
  tests/get.variants.test.ts
Due: prettier --write, eslint --fix

:package: chore: update `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

chore: update `test.yml`
  .github/workflows/test.yml
Due: none

:memo: docs: update site for updated api
  site/pages/apis/GetVariants.mdx
  site/pages/apis/createTools.mdx
  site/pages/apis/rotary.mdx
  site/pages/apis/variants.mdx
  site/pages/index.mdx
  site/pages/recipe/conditional-styling.mdx
  site/pages/start/introduction.mdx
Due: none

:memo: docs: update main `README.md`
  README.md
Due: prettier --write

:art: 2.1.0
  package.json
Due: prettier --write

Update npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

:bug: fix: add missing `shadow-lg` property at boxShadow
  packages/types/tailwind.effects/@box.shadow.ts
Due: prettier --write, eslint --fix

:art: 2.1.1
  package.json
Due: prettier --write

:memo: docs: add contribution guideline
  CONTRIBUTING.md
Due: prettier --write

:hammer: chore: update `prepare` script for dev setting
  package.json
Due: prettier --write

:memo: docs: add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

:memo: docs: update `bug` and `feature` template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

:memo: docs: update main `readme.md`
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
