Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

fix: no variant key found error handling at variants
  packages/tailwindest/src/tools/variants.ts
Due: prettier --write, eslint --fix

test: add robust toggle testing
  packages/tailwindest/src/tools/__tests__/create_tools.test.ts
Due: prettier --write, eslint --fix

test: add base styler core class test suite
  packages/tailwindest/src/tools/__tests__/styler.test.ts
Due: prettier --write, eslint --fix

release: tailwindest 3.0.2
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

refactor: change merge behavior, remove array recursive logics
  packages/tailwindest/src/tools/styler.ts
Due: prettier --write, eslint --fix

refactor: pass static literal list for to class function, add generic args
  packages/tailwindest/src/tools/to_class.ts
Due: prettier --write, eslint --fix

feat: add short-handed version of efficient `def` core styler function
  packages/tailwindest/src/tools/to_def.ts
Due: prettier --write, eslint --fix

refactor: `CreateTailwindest` generic argument interface for `def` function type support
  packages/tailwindest/src/create_tailwindest.ts
Due: prettier --write, eslint --fix

feat: integrate `def` function at `createTools`
  packages/tailwindest/src/tools/create_tools.ts
Due: prettier --write, eslint --fix

test: update styler deep merge suites for changed behavior of merging
  packages/tailwindest/src/tools/__tests__/styler.test.ts
Due: prettier --write, eslint --fix

test: add `def` core function test suite
  packages/tailwindest/src/tools/__tests__/create_tools.test.ts
Due: prettier --write, eslint --fix

refactor: legacy style for v3
  site/wind.ts
Due: prettier --write, eslint --fix

test: update variants getter function test suite for updated tailwindest argument
  packages/tailwindest/src/tools/__tests__/get_variants.test.ts
Due: prettier --write, eslint --fix

chore: update dev deps to latest
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update turbo ui
  turbo.json
Due: prettier --write

release: tailwindest 3.1.0
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

docs: add docs for v3.1.0
  README.md
  packages/tailwindest/readme.md
Due: prettier --write

fix: invalid propertyname by more strict algorithm, and add exceptional case handling
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

test: add type validation test template
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/store/type_validation.d.ts
Due: prettier --write, eslint --fix

refactor: change writing behavior wx ~ w -> over-writing
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

docs: update incorrect docs for `style` method
  packages/tailwindest/src/tools/create_tools.ts
Due: prettier --write, eslint --fix

refactor: change public merger interface for more generic approach
  packages/tailwindest/src/tools/merger_interface.ts
Due: prettier --write, eslint --fix

docs: export public class list interface, add docs
  packages/tailwindest/src/tools/to_class.ts
Due: prettier --write, eslint --fix

refactor: export merger releated interface types
  packages/tailwindest/src/index.ts
Due: prettier --write, eslint --fix

test: add merger adaption integration testing
  packages/tailwindest/src/tools/__tests__/merger_interface.test.ts
Due: prettier --write, eslint --fix

chore: update package manager version pnpm@10.6.5
  package.json
Due: prettier --write

chore: add `tailwind-merge` for testing purpose
  packages/create-tailwind-type/src/site_extractor/jsconfig.json
  packages/tailwindest/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: to def function for merger
  packages/tailwindest/src/tools/to_def.ts
Due: prettier --write, eslint --fix

refactor: shorten join function, remove duplicated merging process at def function, adding docs
  packages/tailwindest/src/tools/create_tools.ts
Due: prettier --write, eslint --fix

fix: import type error at lcp class
  packages/create-tailwind-type/src/site_extractor/docs/lcp_class.test.js
Due: none

release: tailwindest 3.1.1
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

chore: update pkg manager version into pnpm#10.8.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update tailwindcss core packages into latest, v4.1.3
  packages/create-tailwind-type/package.json
Due: prettier --write

feat: update parsed documentation data storage
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/store/docs.json
Due: prettier --write

feat: add drop-shadow-{color-variants} support
  packages/create-tailwind-type/src/generator/generator.ts
Due: prettier --write, eslint --fix

test: update snapshot data for tailwind v4.1.x
  packages/create-tailwind-type/src/internal/__snapshots__/compiler.test.ts.snap
Due: none

test: update generator test suite for tailwind v4.1.x
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
Due: prettier --write, eslint --fix

test: update internal compiler test suite for tailwind v4.1.x
  packages/create-tailwind-type/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

test: add new type validation properties for tailwind v4.1.x
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/store/type_validation.d.ts
Due: prettier --write, eslint --fix

release: create-tailwind-type 1.0.8
  packages/create-tailwind-type/CHANGELOG.md
  packages/create-tailwind-type/package.json
Due: prettier --write
