Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: migrate site into new registry `web`
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: add .vercel for gitignore
  .gitignore
Due: none

test: change snapshot based test for internal compiler
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/create-tailwind-type/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

[ImgBot] Optimize images
  web/src/assets/logo.png
Due: none

chore: change build option into static
  web/astro.config.mjs
Due: none

test: change compiler related test module path
  packages/create-tailwind-type/src/generator/__tests__/generator.test.ts
  packages/create-tailwind-type/src/internal/compiler.test.ts
Due: prettier --write, eslint --fix

docs: fix links and add missing links
  web/src/content/docs/apis/CreateTailwindest.mdx
  web/src/content/docs/apis/join.mdx
  web/src/content/docs/create-tailwind-type.mdx
  web/src/content/docs/recipe/utility.mdx
Due: none

docs: remove unncessary part
  web/src/content/docs/start/introduction.mdx
Due: none

docs: update tailwind config
  web/src/styles/global.css
  web/src/tw.ts
Due: prettier --write, eslint --fix

docs: update documentation
  web/src/content/docs/recipe/customize.mdx
  web/src/content/docs/recipe/styling.mdx
  web/src/content/docs/recipe/utility.mdx
  web/src/content/docs/setup.mdx
  web/src/content/docs/start/benefits.mdx
  web/src/content/docs/start/introduction.mdx
Due: none

feat(create-tailwind-type): extract pure css property utilities
  packages/create-tailwind-type/src/generator/__tests__/css_property_utils.test.ts
  packages/create-tailwind-type/src/generator/css_property_utils.ts
Due: prettier --write, eslint --fix

feat(create-tailwind-type): implement CSSPropertyResolver for modular class resolution
  packages/create-tailwind-type/src/generator/__tests__/css_property_resolver.test.ts
  packages/create-tailwind-type/src/generator/css_property_resolver.ts
Due: prettier --write, eslint --fix

refactor(create-tailwind-type): integrate CSSPropertyResolver and utilize shared utilities
  packages/create-tailwind-type/src/generator/generator.ts
  packages/create-tailwind-type/src/generator/index.ts
Due: prettier --write, eslint --fix

docs(css-transformer): initialize Phase 1 architecture and review documents
  packages/css-transformer/docs/ARCHITECTURE.md
  packages/css-transformer/docs/details_analyzer.md
  packages/css-transformer/docs/details_resolver.md
  packages/css-transformer/docs/details_testing.md
  packages/css-transformer/docs/details_walker.md
  packages/css-transformer/docs/planes_1_resolver.md
  packages/css-transformer/docs/planes_2_analyzer.md
  packages/css-transformer/docs/planes_3_walker.md
  packages/css-transformer/docs/review_1_resolver.md
  packages/css-transformer/docs/review_2_analyzer.md
  packages/css-transformer/docs/review_3_walker.md
Due: prettier --write

feat(agent): add robust-code skill
  .agents/skills/robust-code/SKILL.md
Due: prettier --write

refactor(create-tailwind-type): move internal logic to sub-modules and add CLI
  packages/create-tailwind-type/src/__tests__/cli_discovery.test.ts
  packages/create-tailwind-type/src/cli.ts
  packages/create-tailwind-type/src/internal/__tests__/discovery.test.ts
  packages/create-tailwind-type/src/internal/discovery.ts
  packages/create-tailwind-type/src/internal/resolution.ts
Due: prettier --write, eslint --fix

feat(css-transformer): initialize core package and cli infrastructure
  packages/css-transformer/README.md
  packages/css-transformer/package.json
  packages/css-transformer/scripts/download_shadcn.ts
  packages/css-transformer/tsconfig.json
  packages/css-transformer/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(css-transformer): implement ast-based transformation walkers and registry
  packages/css-transformer/src/analyzer/index.ts
  packages/css-transformer/src/analyzer/split_utils.ts
  packages/css-transformer/src/analyzer/token_analyzer.ts
  packages/css-transformer/src/cli.ts
  packages/css-transformer/src/context/import_collector.ts
  packages/css-transformer/src/context/index.ts
  packages/css-transformer/src/context/transformer_context.ts
  packages/css-transformer/src/index.ts
  packages/css-transformer/src/registry/index.ts
  packages/css-transformer/src/registry/transformer_registry.ts
  packages/css-transformer/src/types/index.ts
  packages/css-transformer/src/walkers/classname_walker.ts
  packages/css-transformer/src/walkers/cn_walker.ts
  packages/css-transformer/src/walkers/cva_walker.ts
  packages/css-transformer/src/walkers/index.ts
  packages/css-transformer/src/walkers/utils/object_to_string.ts
  packages/css-transformer/src/walkers/walker_interface.ts
Due: prettier --write, eslint --fix

docs(css-transformer): add implementation plans and user documentation
  packages/css-transformer/docs/plans/planes_1_resolver.md
  packages/css-transformer/docs/plans/planes_2_analyzer.md
  packages/css-transformer/docs/plans/planes_3_walker.md
  packages/css-transformer/docs/plans/review_1_resolver.md
  packages/css-transformer/docs/plans/review_2_analyzer.md
  packages/css-transformer/docs/plans/review_3_walker.md
  packages/css-transformer/docs/plans/review_4_shadcn.md
  web/src/content/docs/css-transformer.mdx
Due: prettier --write

test(tailwindest): add internal tests for arbitrary variant support
  packages/tailwindest/src/__tests__/arbitrary_variant.test.ts
Due: prettier --write, eslint --fix

chore(create-tailwind-type): bump tailwindcss dependencies
  packages/create-tailwind-type/package.json
Due: prettier --write

refactor(tailwindest): implement zero-recursion arbitrary variant support
  packages/tailwindest/src/__tests__/arbitrary_variant.test.ts
  packages/tailwindest/src/create_tailwindest.ts
Due: prettier --write, eslint --fix

feat(create-tailwind-type): stabilize internal api and compiler
  packages/create-tailwind-type/package.json
  packages/create-tailwind-type/src/generator/__tests__/__mocks__/tailwind.css
  packages/create-tailwind-type/src/generator/generator.ts
  packages/create-tailwind-type/src/index.ts
  packages/create-tailwind-type/src/internal/compiler.ts
  packages/create-tailwind-type/tsup.config.ts
Due: prettier --write, eslint --fix

feat(css-transformer): improve e2e testing with shadcn registry
  packages/css-transformer/package.json
  packages/css-transformer/tests/e2e/shadcn_registry.test.ts
  packages/css-transformer/vitest.config.ts
Due: prettier --write, eslint --fix

chore: update workspace configurations and dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

style: format
  packages/css-transformer/docs/review_1_resolver.md
  packages/tailwindest/src/legacy/tailwindest.short.ts
  packages/tailwindest/src/legacy/tailwindest.ts
  packages/tailwindest/src/legacy/types/tailwind/core/tailwind.short.ts
  packages/tailwindest/src/legacy/types/tailwind/core/tailwind.ts
  packages/tailwindest/src/legacy/types/tailwind/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/accessibility/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/backgrounds/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/backgrounds/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/borders/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/borders/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/effects/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/effects/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/filters/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/flex.grid/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/font/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/interactivity/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/interactivity/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/layout/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/sizing/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/sizing/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/spacing/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/spacing/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/svg/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/svg/short/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/tables/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/transforms/index.ts
  packages/tailwindest/src/legacy/types/tailwind/properties/transition.animation/index.ts
  packages/tailwindest/src/legacy/types/tailwindest/nest.extended.ts
Due: prettier --write, eslint --fix

feat(images): add tailwind-transform image for documentation
  images/tailwind-transform.png
Due: none

feat(changeset): update ignored paths in config.json
  .changeset/config.json
Due: prettier --write

feat(docs): update README with css-transformer details and remove Tailwind CSS version requirement
  README.md
  packages/create-tailwind-type/README.md
  packages/css-transformer/README.md
Due: prettier --write

feat(css-transformer): implement style extraction and constant generation
  packages/css-transformer/src/context/style_manager.ts
  packages/css-transformer/src/context/transformer_context.ts
  packages/css-transformer/src/index.ts
  packages/css-transformer/src/registry/transformer_registry.ts
  packages/css-transformer/src/walkers/classname_walker.ts
  packages/css-transformer/src/walkers/cn_walker.ts
  packages/css-transformer/src/walkers/utils/naming.ts
Due: prettier --write, eslint --fix

test(css-transformer): add tests for style placement and threshold config
  packages/css-transformer/tests/placement/style_placement.test.ts
  packages/css-transformer/tests/registry/transformer_registry.test.ts
  packages/css-transformer/tests/walkers/classname_walker.test.ts
  packages/css-transformer/tests/walkers/cn_walker.test.ts
Due: prettier --write, eslint --fix

feat(compiler): initialize compiler package and architectural documentation
  packages/compiler/docs/ARCHITECTURE.md
  packages/compiler/docs/details_plan.md
  packages/compiler/docs/discussion.md
  packages/compiler/package.json
  packages/compiler/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

feat(compiler): add initial compiler entry point
  packages/compiler/src/index.ts
Due: prettier --write, eslint --fix

docs(compiler): add v3.0 critic/plane planning documentation
  packages/compiler/docs/ARCHITECTURE.md
  packages/compiler/docs/details_plan.md
  packages/compiler/docs/discussion.md
  packages/compiler/docs/plans/critic_0_gate_matrix.md
  packages/compiler/docs/plans/critic_1_evaluation.md
  packages/compiler/docs/plans/critic_2_detector.md
  packages/compiler/docs/plans/critic_3_substitutor.md
  packages/compiler/docs/plans/critic_4_vite.md
  packages/compiler/docs/plans/critic_5_optimizer.md
  packages/compiler/docs/plans/critic_6_debug_e2e.md
  packages/compiler/docs/plans/planes_0_cycle_overview.md
  packages/compiler/docs/plans/planes_1_evaluation.md
  packages/compiler/docs/plans/planes_2_detector.md
  packages/compiler/docs/plans/planes_3_substitutor.md
  packages/compiler/docs/plans/planes_4_vite.md
  packages/compiler/docs/plans/planes_5_optimizer.md
  packages/compiler/docs/plans/planes_6_debug_e2e.md
Due: prettier --write

feat(compiler/analyzer): add class/motion analyzer pipeline and tests
  packages/compiler/src/analyzer/__tests__/detector.test.ts
  packages/compiler/src/analyzer/__tests__/lexical_gate.test.ts
  packages/compiler/src/analyzer/__tests__/static_resolver.test.ts
  packages/compiler/src/analyzer/dependency_graph.ts
  packages/compiler/src/analyzer/detector.ts
  packages/compiler/src/analyzer/lexical_gate.ts
  packages/compiler/src/analyzer/static_resolver.ts
  packages/compiler/src/analyzer/symbols.ts
Due: prettier --write, eslint --fix

feat(compiler/core): add evaluator, merger and diagnostic core types
  packages/compiler/src/core/__tests__/evaluator.test.ts
  packages/compiler/src/core/__tests__/merger.test.ts
  packages/compiler/src/core/diagnostic_types.ts
  packages/compiler/src/core/evaluator.ts
  packages/compiler/src/core/merger.ts
  packages/compiler/src/core/static_value.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
