Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

remove: unused test suites
  packages/tailwindest/__tests__/core/cache.test.ts
  packages/tailwindest/__tests__/core/deep.merge.test.ts
  packages/tailwindest/__tests__/core/flatten.object.test.ts
  packages/tailwindest/__tests__/core/get.style.class.test.ts
  packages/tailwindest/__tests__/core/get.tailwind.class.test.ts
  packages/tailwindest/__tests__/core/nested.object.type.test.ts
  packages/tailwindest/__tests__/create.tools.test.ts
  packages/tailwindest/__tests__/get.variants.test.ts
  packages/tailwindest/__tests__/label.ts
Due: prettier --write, eslint --fix

remove: unused core modules
  packages/tailwindest/src/core/cache.ts
  packages/tailwindest/src/core/deep.merge.ts
  packages/tailwindest/src/core/flatten.object.ts
  packages/tailwindest/src/core/get.styleclass.ts
  packages/tailwindest/src/core/get.tailwind.class.ts
  packages/tailwindest/src/core/index.ts
Due: prettier --write, eslint --fix

remove: unused utility
  packages/tailwindest/src/utils/index.ts
  packages/tailwindest/src/utils/util.types.ts
Due: prettier --write, eslint --fix

remove: unused tailwindest type defs
  packages/tailwindest/src/get.variants.ts
  packages/tailwindest/src/tailwindest.nest.keys.ts
  packages/tailwindest/src/tailwindest.short.ts
  packages/tailwindest/src/tailwindest.ts
Due: prettier --write, eslint --fix

chore: clsx for convinience
  packages/tailwindest/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add core styler abstract class
  packages/tailwindest/src/tools/styler.ts
Due: prettier --write, eslint --fix

feat: add to class clsx wrapper
  packages/tailwindest/src/tools/to_class.ts
Due: prettier --write, eslint --fix

feat: add merger interface for future integration with tailwind-merge like libvs
  packages/tailwindest/src/tools/merger_interface.ts
Due: prettier --write, eslint --fix

refactor: get variants extraction type
  packages/tailwindest/src/tools/get_variants.ts
Due: prettier --write, eslint --fix

feat: add primitive styler
  packages/tailwindest/src/tools/primitive.ts
Due: prettier --write, eslint --fix

feat: add rotary styler
  packages/tailwindest/src/tools/rotary.ts
Due: prettier --write, eslint --fix

feat: add toggle styler
  packages/tailwindest/src/tools/toggle.ts
Due: prettier --write, eslint --fix

feat: add variants styler
  packages/tailwindest/src/tools/variants.ts
Due: prettier --write, eslint --fix

test: update get variants test suite
  packages/tailwindest/src/tools/__tests__/get_variants.test.ts
Due: prettier --write, eslint --fix

feat: add create tools core module
  packages/tailwindest/src/tools/create_tools.ts
Due: prettier --write, eslint --fix

chore: export core modules
  packages/tailwindest/src/index.ts
  packages/tailwindest/src/tools/index.ts
Due: prettier --write, eslint --fix

test: add create tools integration tests
  packages/tailwindest/src/tools/__tests__/create_tools.test.ts
Due: prettier --write, eslint --fix

refactor: missing types and var names
  packages/tailwindest/src/tools/styler.ts
Due: prettier --write, eslint --fix

refactor: adjust refactored varname
  packages/tailwindest/src/tools/variants.ts
Due: prettier --write, eslint --fix

test: update module root path
  packages/tailwindest/src/tools/__tests__/get_variants.test.ts
Due: prettier --write, eslint --fix

test: remove tailwind type deps
  packages/tailwindest/src/tools/__tests__/create_tools.test.ts
Due: prettier --write, eslint --fix

feat: add create tailwindest type core type gen
  packages/tailwindest/src/create_tailwindest.ts
Due: prettier --write, eslint --fix

chore: export all modules for v3
  packages/tailwindest/src/index.ts
Due: prettier --write, eslint --fix

remove: scripts
  scripts/bench.js
  scripts/benchmark/bench.manager.js
  scripts/benchmark/logger.js
  scripts/build.class.js
  scripts/bulk.data.js
  scripts/jsconfig.json
Due: prettier --write

docs: mark as deprecated for legacy tailwindest type
  packages/tailwindest/src/legacy/tailwindest.ts
Due: prettier --write, eslint --fix

chore: export legacy typesets
  packages/tailwindest/src/index.ts
Due: prettier --write, eslint --fix

docs: update doc tailwindest dependency
  site/components/common/Button.tsx
  site/components/common/Card.tsx
  site/components/common/Code.tsx
  site/components/common/CodeCompletion.tsx
  site/components/common/Stackblitz.tsx
  site/components/common/Title.tsx
  site/components/common/Underline.tsx
  site/components/pages/main.tsx
  site/pages/apis/createTools.mdx
Due: none

remove: jest config
  jest.config.js
Due: none

docs: update license year
  LICENSE
Due: none

chore: update deps version to latest
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: check tailwindcss node package version checking process
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: add new v3 banner images
  images/create-tailwind-type.png
  images/tailwindest.banner.png
  images/tailwindest_banner.png
Due: none

docs: add create-tailwind-type doc
  packages/create-tailwind-type/README.md
Due: prettier --write

chore: update peer deps
  packages/create-tailwind-type/package.json
Due: prettier --write

docs: refactor create-tailwind-type documentation
  packages/create-tailwind-type/README.md
Due: prettier --write

refactor: cli options
  packages/create-tailwind-type/src/index.ts
Due: prettier --write, eslint --fix

chore: update banner image sizes
  images/create-tailwind-type-banner.png
  images/create-tailwind-type.png
  images/tailwindest-banner.png
  images/tailwindest_banner.png
Due: none
