Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

:memo: docs: fix typo
  README.md
Due: prettier --write

:recycle: refactor: move bench scripts to root `scripts`
  packages/tailwindest/lib/benchmark/bench.js
  scripts/bench.js
  scripts/benchmark/bench.manager.js
  scripts/benchmark/logger.js
  scripts/build.class.js
  scripts/bulk.data.js
  scripts/jsconfig.json
Due: prettier --write

:bookmark: Chore: add `tsbuildinfo` to `.gitignore`
  .gitignore
Due: none

:hammer: Chore: update `tsconfig` setup
  tsconfig.json
Due: prettier --write

:sparkles: Feat: update jest config
  jest.config.js
Due: none

:sparkles: Feat: setup `.npmrc` monorepo
  .npmrc
Due: none

:sparkles: Feat: activate monorepo
  pnpm-workspace.yaml
Due: none

:hammer: Chore: setup root repository `package.json` and update scripts
  package.json
  pnpm-lock.yaml
Due: prettier --write

:sparkles: Feat: export `tailwindest` package and add `cjs` support
  packages/tailwindest/package.json
Due: prettier --write

:sparkles: Feat: add `changeset` to manage workspace release process
  .changeset/README.md
  .changeset/config.json
  .changeset/strange-rice-promise.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

:package: Chore: link tailwindest package to document workspace
  site/package.json
Due: prettier --write

:bookmark: V2.1.2
  .changeset/strange-rice-promise.md
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

:hammer: Chore: update github actions
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
Due: none

:bug: fix: captialized commit type
  package.json
Due: prettier --write

:bug: fix: weird typescript generic error at test code
  packages/tailwindest/__tests__/create.tools.test.ts
Due: prettier --write, eslint --fix

:hammer: chore: add typescript validation script
  package.json
Due: prettier --write

:sparkles: feat: enable `turbo` build system
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

:hammer: chore: remove pnpm cache artifact at gh action script
  .github/workflows/test.yml
Due: none

:recycle: refactor: remove unused type code and improve type performance
  packages/tailwindest/src/types/tailwindest/@nest.core.ts
  scripts/build.class.js
Due: prettier --write, eslint --fix

:recycle: refactor: rename type names and fix pseudo elements and classes part
  packages/tailwindest/src/types/tailwind.nested/@basic.short.ts
  packages/tailwindest/src/types/tailwind.nested/@basic.ts
  packages/tailwindest/src/types/tailwindest/@nest.basic.ts
  packages/tailwindest/src/types/tailwindest/@nest.extends.ts
  packages/tailwindest/src/types/tailwindest/index.ts
  packages/tailwindest/src/types/tailwindest/short/@nest.basic.short.ts
  packages/tailwindest/src/types/tailwindest/short/@nest.extends.short.ts
  packages/tailwindest/src/types/tailwindest/short/index.ts
Due: prettier --write, eslint --fix

:memo: docs: add readme at tailwindest package
  packages/tailwindest/readme.md
Due: prettier --write

:bookmark: V2.1.3
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

:recycle: refactor: nest list generation script to divide category of nest conditions
  scripts/build.class.js
Due: none

:recycle: refactor: remove generic argument restriction at style-generator
  packages/tailwindest/src/utils/util.types.ts
Due: prettier --write, eslint --fix

:sparkles: feat: improve core type generation structure
  packages/tailwindest/src/types/tailwindest/core.ts
Due: prettier --write, eslint --fix

:recycle: refactor: nest extended condition style sheet generation type
  packages/tailwindest/src/types/tailwindest/nest.extended.ts
Due: prettier --write, eslint --fix

:recycle: refactor: export core and nest.extended
  packages/tailwindest/src/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: remove generic restriction at tool interface
  packages/tailwindest/src/core/tools/tool.interface.ts
Due: prettier --write, eslint --fix

:sparkles: feat: divide nest condition types generated by class builder script
  packages/tailwindest/src/types/nest.keys/break.ts
  packages/tailwindest/src/types/nest.keys/pseudo.class.ts
  packages/tailwindest/src/types/nest.keys/pseudo.element.ts
Due: prettier --write, eslint --fix

:recycle: refactor: remove generic restriction at core tools
  packages/tailwindest/src/core/tools/create.merge.props.ts
  packages/tailwindest/src/core/tools/create.rotary.ts
  packages/tailwindest/src/core/tools/create.style.ts
  packages/tailwindest/src/core/tools/create.toggle.ts
  packages/tailwindest/src/core/tools/create.variants.ts
  packages/tailwindest/src/create.tools.ts
Due: prettier --write, eslint --fix

:recycle: refactor: tailwind & short tailwind plugin type set generic option
  packages/tailwindest/src/types/tailwind/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: export refactored tailwind and short tailwind type
  packages/tailwindest/src/types/tailwind/core/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add nest condition identifier option manager type
  packages/tailwindest/src/tailwindest.nest.keys.ts
Due: prettier --write, eslint --fix

:sparkles: feat: new `Tailwindest` type
  packages/tailwindest/src/tailwindest.ts
Due: prettier --write, eslint --fix

:sparkles: feat: new `ShortTailwindest` type
  packages/tailwindest/src/tailwindest.short.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: update test for new api design
  packages/tailwindest/__tests__/create.tools.test.ts
Due: prettier --write, eslint --fix

:bookmark: V2.2.0
  packages/tailwindest/CHANGELOG.md
  packages/tailwindest/package.json
Due: prettier --write

undefined fix: aria prefix is not applied at custom aria field
  packages/tailwindest/src/tailwindest.nest.keys.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.ts) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.ts
