Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

:art: 1.2.0
  package.json
Due: prettier --write

:recycle: refactor: name of core tool generics
  packages/core/cache.ts
  packages/core/deep.merge.ts
  packages/core/flatten.object.ts
  packages/core/get.tailwind.class.ts
Due: prettier --write, eslint --fix

:fire: remove: prev version tools
  packages/create.wind.ts
  packages/utils/create.variants.ts
  packages/utils/merge.props.ts
  packages/utils/toggle.ts
  packages/wind.ts
  packages/wind.variants.ts
Due: prettier --write, eslint --fix

:recycle: refactor: organize utility types in `utils` folder
  packages/core/nested.object.type.ts
  packages/utils/index.ts
  packages/utils/util.types.ts
Due: prettier --write, eslint --fix

:recycle: refactor: extract constant access key at `constants` folder
  packages/constants/base.key.ts
  packages/constants/index.ts
Due: prettier --write, eslint --fix

:recycle: refactor: test labeler to increase readibility
  tests/label.ts
Due: prettier --write, eslint --fix

:recycle: refactor: `mergeProps` to `createMergeProps` for type inference
  packages/core/tools/create.merge.props.ts
Due: prettier --write, eslint --fix

:sparkles: feat: predefine and specify the interface of the style generator functions
  packages/core/tools/tool.interface.ts
Due: prettier --write, eslint --fix

:sparkles: feat: replace `wind` function to `createStyle` to separate concern about styling
  packages/core/tools/create.style.ts
Due: prettier --write, eslint --fix

:sparkles: feat: replace `wind` function to `createRotary` to separate concern about conditional styling
  packages/core/tools/create.rotary.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add a `createToggle` function using `createRotary` to handle the toggle condition
  packages/core/tools/create.toggle.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add a `createVariants` function to handle complex conditional styling with variants concept
  packages/core/tools/create.variants.ts
Due: prettier --write, eslint --fix

:sparkles: feat: replace `createWind` to `createTools`
  packages/core/index.ts
  packages/core/tools/index.ts
  packages/create.tools.ts
Due: prettier --write, eslint --fix

:recycle: refactor: change name to `GetVariants` and improve type inference performance
  packages/get.variants.ts
Due: prettier --write, eslint --fix

:beers: chore: export all tools
  packages/index.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: add test for the new api, coverage 100%
  tests/core/cache.test.ts
  tests/core/deep.merge.test.ts
  tests/core/get.tailwind.class.test.ts
  tests/core/nested.object.type.test.ts
  tests/create.tools.test.ts
  tests/create.wind.test.ts
  tests/get.variants.test.ts
  tests/utils/create.variants.test.ts
  tests/utils/merge.props.test.ts
  tests/wind.test.ts
  tests/wind.variants.test.ts
Due: prettier --write, eslint --fix

:sparkles: feat: update bench script for new api
  js/benchmark/bench.js
  js/benchmark/bench.manager.js
  js/benchmark/logger.js
  js/benchmark/test.js
Due: none

:hammer: chore: add bench and prepublish scripts
  package.json
Due: prettier --write

:art: 2.0.0-rc.0
  package.json
Due: prettier --write

:sparkles: feat: update base `style` function interface to improve usability
  packages/core/tools/tool.interface.ts
Due: prettier --write, eslint --fix

:sparkles: feat: refactor function to class to improve usability of base styleSheet
  packages/core/tools/create.style.ts
Due: prettier --write, eslint --fix

:zap: refactor: rotary function to improve performance
  packages/core/tools/create.rotary.ts
Due: prettier --write, eslint --fix

:sparkles: feat: update the `variants` API to be the closed to `stitches` and improve performance
  packages/core/tools/create.variants.ts
Due: prettier --write, eslint --fix

:recycle: refactor: update `GetVariants` infer structure for updated variants API
  packages/get.variants.ts
Due: prettier --write, eslint --fix

:sparkles: feat: update tools docs
  packages/create.tools.ts
Due: prettier --write, eslint --fix

:white_check_mark: test: add tests for updated variants API
  tests/create.tools.test.ts
  tests/get.variants.test.ts
  tests/label.ts
Due: prettier --write, eslint --fix

:recycle: refactor: update bench script for updated API
  js/benchmark/bench.js
  js/benchmark/test.js
Due: none

:art: 2.0.0-rc.1
  package.json
Due: prettier --write

:white_check_mark: test: update `GetVariants` type test
  tests/get.variants.test.ts
Due: prettier --write, eslint --fix

:memo: docs: update main readme for `v2.0.0-rc.1`
  README.md
  images/tailwindest.banner.png
Due: prettier --write

:recycle: refactor: update site `tailwindest` package to version 2.0.0-rc.1
  site/components/common/Button.tsx
  site/components/common/Card.tsx
  site/components/common/Stackblitz.tsx
  site/components/common/Title.tsx
  site/components/common/Underline.tsx
  site/components/pages/main.tsx
  site/components/utils.ts
  site/package.json
  site/pnpm-lock.yaml
  site/wind.ts
Due: prettier --write, eslint --fix

:pencil2: fix: file name typo
  packages/types/tailwind.font/@hyphens.ts
Due: prettier --write, eslint --fix

:bug: fix: add missing `whitespace` property
  packages/types/tailwind.font/index.ts
Due: prettier --write, eslint --fix

:art: 1.2.1
  package.json
Due: prettier --write

:memo: fix: correct GetVariants document
  packages/get.variants.ts
Due: prettier --write, eslint --fix

:bug: fix: incorrect type definition of transform, `scale`
  packages/types/tailwind.transforms/index.ts
Due: prettier --write, eslint --fix

:bug: fix: incorrect type definition of directional transform, `scaleX` and `scaleY`
  packages/types/tailwind.transforms/@scale.ts
Due: prettier --write, eslint --fix

:memo: fix: incorrect description of `variantOption` at `StyleGeneratorVariants`
  packages/core/tools/tool.interface.ts
Due: prettier --write, eslint --fix

:memo: docs: update images for documentation
  site/pages/1_start/variants.png
  site/pages/3_learn/conditional-size.png
  site/pages/3_learn/conditional-toggle.png
  site/pages/3_learn/conditional-total.png
  site/pages/3_learn/conditional-type.png
  site/public/images/cond.png
  site/public/images/microwave.png
  site/public/images/rotary.png
  site/public/images/tailwindest.banner.png
  site/public/images/tailwindest.type.png
  site/public/images/toggle.png
  site/public/images/variants.png
  site/public/introduction.tldr
Due: none

:package: docs: update site packages
  site/package.json
  site/pnpm-lock.yaml
Due: prettier --write
