Repository danpacho/tailwindest: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.ts": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

:sparkles: Add: `cache` util function
  packages/utils/cache.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `get.styleclass` util function
  packages/utils/get.styleclass.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `get.tw.class` util function and add barrel export file
  packages/utils/get.tw.class.ts
  packages/utils/index.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `windest.cache` function to cache wind function results
  packages/windest.cache.ts
Due: prettier --write, eslint --fix

:label: Add: `@nested.core` util type to autocomplete tailwind nest classes
  packages/types/tailwindest/@nest.core.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `@nest.basic` type to autocomplete tailwind basic nest classes
  packages/types/tailwindest/@nest.basic.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `@nest.extends` type to autocomplete tailwind extended nest classes (i.e: `@peer` and `@group`)
  packages/types/tailwindest/@nest.extends.ts
Due: prettier --write, eslint --fix

:sparkles: Add: full type definition of `tailwindest` object
  packages/types/tailwindest/index.ts
Due: prettier --write, eslint --fix

:tada: Add: `core` logic of `tailwindest` package
  packages/index.ts
Due: prettier --write, eslint --fix

:hammer: Update: set `prettier/prettier` end-of-line rule to auto
  .eslintrc.json
Due: prettier --write

:label: Add: `hardware-acceleration` type
  packages/types/tailwind.transforms/@hardware.acceleration.ts
  packages/types/tailwind.transforms/index.ts
Due: prettier --write, eslint --fix

:pencil2: Fix: correct `tailwind.font` `@text.transform` union type
  packages/types/tailwind.font/@text.transform.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.transform` add opposite direction of `@skew` property
  packages/types/tailwind.transforms/@skew.ts
Due: prettier --write, eslint --fix

:sparkles: Update: export `Tailwindest` type for prop typing support
  packages/index.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.sizing` add missing `screen` option at min-max height
  packages/types/tailwind.sizing/@height.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.transition` add transition property at `transition` for convinience
  packages/types/tailwind.transition.animation/@transition.ts
Due: prettier --write, eslint --fix

:label: Update: `tailwind.transforms` add opposite direction of `@translate` property
  packages/types/tailwind.transforms/@translate.ts
Due: prettier --write, eslint --fix

:label: Add: `border` css shorthand utility type for convinience
  packages/types/tailwind.borders/@border.ts
  packages/types/tailwind.borders/index.ts
Due: prettier --write, eslint --fix

:memo: Update: type info documentation
  packages/types/tailwind.borders/@border.width.ts
  packages/types/tailwind.font/@font.size.ts
  packages/types/tailwind.transition.animation/@transition.ts
Due: prettier --write, eslint --fix

:sparkles: Update: remove keys that should not be used in the nest conditions and add it to `@nest.basic`
  packages/types/tailwindest/@nest.basic.ts
  packages/types/tailwindest/@nest.core.ts
  packages/types/tailwindest/@nest.extends.ts
Due: prettier --write, eslint --fix

:package: Add: `chalk` ^5.0.1 and `maxmin` ^4.0.0 package to bench functions and add custom plugin
  package.json
  pnpm-lock.yaml
Due: prettier --write

:wrench: Add: `jsconfig.json` for `jsdoc` type setup
  js/jsconfig.json
Due: prettier --write

:truck: Update: move `scripts` to `js` folder
  js/scripts/extract.js
Due: none

:sparkles: Add: `Logger` class to manage node log messages
  js/benchmark/logger.js
Due: none

:sparkles: Add: `Bench` class to bench iteration performance
  js/benchmark/bench.js
Due: none

:sparkles: Add: iteration bench to check performance of package main script
  js/benchmark/iteration.js
Due: none

:sparkles: Add: bundle-size-plugin to get minified and `gzip` package bundled file size at build time
  js/plugin/bundleSizePlugin.js
Due: none

:wrench: Update: `rollup.config` change file format to `mjs` and add `jsdoc` type system & bundle-size-plugin
  rollup.config.js
  rollup.config.mjs
Due: none

:wrench: Update: `tsconfig.json` include and exclude file list
  tsconfig.json
Due: prettier --write

:hammer: Update: `prettier` & `eslint` script
  package.json
Due: prettier --write

:hammer: Update: add iteration `bench` script
  package.json
Due: prettier --write

:label: Update: add opposite direction type at `tailwind.layout`/`@position`
  packages/types/tailwind.layout/@position.ts
Due: prettier --write, eslint --fix

:bug: Fix: style is not deep-merged error, replace `...operator` with `deepMerge` function
  packages/index.ts
Due: prettier --write, eslint --fix

:label: Update: optimize `opacity` type inference performance
  packages/types/tailwind.common/@accent.ts
  packages/types/tailwind.common/@color.ts
Due: prettier --write, eslint --fix

:label: Update: `deep.merge` argument type with generic
  packages/utils/deep.merge.ts
Due: prettier --write, eslint --fix

:recycle: Refactor: `cache` specify cache funtion return type and update document
  packages/utils/cache.ts
Due: prettier --write, eslint --fix

:sparkles: Add: `get.cached.value` function to extract and divide logic of inquire cached value
  packages/utils/get.cached.value.ts
Due: prettier --write, eslint --fix

:truck: Update: rename `getTwClass` to `getTailwindClass` to clarify functionality
  packages/utils/get.tailwind.class.ts
  packages/utils/index.ts
Due: prettier --write, eslint --fix

:fire: Remove: unused cache grouping function
  packages/windest.cache.ts
Due: prettier --write, eslint --fix

:sparkles: Update: Distinguishing how to use wind api and made a new api design according to the concept
  packages/index.ts
Due: prettier --write, eslint --fix
